[2020-03-20 22:13] searchy2 opened #1 "Release Tracker Roadmap"
Lots of big things planned for Responsive Framework.
[Release Tracker](https://github.com/Codelessly/ResponsiveFramework/projects)
v0.1.0 - refactor logic to maintainable mutators and write tests. Finalize API.
v0.2.0 - create max autoscale mutator. Create API documentation. Create advanced topics Wiki.
v0.3.0 - solve overlay and hero transition scaling.
v1.0.0 - clean up device previewer for prod

[2020-03-26 11:21] kalismeras61 opened #2 "It is automatically resize ui ? Just few line codes?"
Hello, this is not issue, for understanding it is automatically resize the ui different type of devices? like texts fontsize, image, cards etc? No need to create separate files?

[2020-03-26 15:08] searchy2 commented on #2
Yes, that is correct. The best way to understand how everything work is to try it.
Add the following builder to your app to see it in action:
[code]

[2020-03-26 18:05] #2 closed

[2020-03-30 19:47] pesutsoos opened #3 "DropdownButton is not working"
If I use **ResponsiveWrapper.builder** it brakes my **DropdownButton**.

``runApp(MaterialApp(
    debugShowCheckedModeBanner: false,
    builder: (context, widget) =>
        ResponsiveWrapper.builder(TabsPage(),
            maxWidth: 1200,
            minWidth: 450,
            defaultScale: true,
            breakpoints: [
              ResponsiveBreakpoint(breakpoint: 450, name: MOBILE),

[2020-03-30 20:25] searchy2 commented on #3
Thanks for reporting this issue. Can you provide a sample code of your dropdown button?
There are a few known issues with modals and routes that are on the roadmap to fix. Going to add dropdowns to the list too.

[2020-04-02 09:56] ppgcharge opened #4 "Hero-wrapped widget looks giant during transition"
`MaterialApp(

          builder: (context, widget) => ResponsiveWrapper.builder(
            widget,
            maxWidth: 1200,
            minWidth: 450,
            defaultScale: true,
            breakpoints: [
              ResponsiveBreakpoint(breakpoint: 450, name: MOBILE),
              ResponsiveBreakpoint(breakpoint: 800, name: TABLET),
              ResponsiveBreakpoint(breakpoint: 100

[2020-04-02 12:26] searchy2 commented on #4
Thank you for reporting. This is a known issue.

The fix is on the roadmap for v0.2.0.

[2020-04-10 16:20] searchy2 opened #5 "What is the issue with traditional breakpoints?"
Webflow added 3 new breakpoint layouts for a total of 7. Now users have the joy of creating and maintaining 7 layouts 😧
![MaxthonSnap20200410100742](https://user-images.githubusercontent.com/19896174/79005592-d325ec00-7b1c-11ea-8824-63e38881f412.png)

[2020-04-13 12:47] KonsistentApps commented on #3
Hi @pesutsoos

Maybe it will work with the following code:

``runApp(MaterialApp(
debugShowCheckedModeBanner: false,
builder: (context, widget) =>
ResponsiveWrapper.builder(
maxWidth: 1200,
minWidth: 450,
defaultScale: true,
breakpoints: [
ResponsiveBreakpoint(breakpoint: 450, name: MOBILE),
ResponsiveBreakpoint(
breakpoint: 800, name: TABLET, autoScale: true,),
ResponsiveBreakpoint(
breakpoint: 1

[2020-04-22 06:21] hiwa-jalal opened #6 "can't navigate!"
i am getting this error when i navigate from my `WelcomePage` widget to another page

[code]
here is my main file
[code]
my WelcomePage file

[code]

[2020-04-22 17:29] searchy2 commented on #6
Please put the `WelcomePage()` in your MaterialApp's `home` parameter.

MaterialApp's `builder` field is only for widgets and behaviors you want to apply to all MaterialApp children. The actual pages of your app need to go in `home` or a route.

[2020-04-22 19:31] hiwa-jalal commented on #6
i added it but nothing changed.

[2020-04-22 20:01] hiwa-jalal commented on #6
i fixed it by adding `BouncingScrollWrapper.builder(context, widget)` to builder method as a child, but i don't have a responsive UI!

[2020-04-23 20:27] matthewrice345 opened #7 "[Question] Knowing the current breakpoint"
It seems like all the decision making is made a or near the root of the app. How would I know the currently active breakpoint further down the widget tree to make a decision on how a child widget is laid out?

Maybe this is more of a feature request? I know I can use my own tooling with Provider or something but seems like a tool that would be very useful to have baked in.

[2020-04-23 21:16] searchy2 commented on #7
Thanks for trying out the Responsive Framework. To answer your question, you can access `ResponsiveWrapper`'s internal data with `ResponsiveWrapper.of(context)`.

I'll be adding more documentation in this regard for the v0.3.0 release.

Nice work identifying one of the core tenants of the Reponsive Framework ;)
I want people to think about responsiveness in a top-down, layout-driven way.

[2020-04-23 21:24] matthewrice345 commented on #7
Thanks much and good work!

[2020-04-23 21:24] #7 closed

[2020-04-24 00:26] jasonlaw opened #8 "Error when using this with flutter_staggered_grid_view"
Hi,

I hit the following error when using this with flutter_staggered_grid_view which had been working fine before.

Do you this could be some bug in this framework, or the other package need to adjust to use this framework?

`Restarted application in 1,799ms.
I/flutter (32102): Start App.prerequisite()
I/flutter (32102): AppPrefs.init() ...
I/flutter (32102): AppConfig().init() ...
I/flutter (321

[2020-04-24 01:15] jasonlaw commented on #8
I have created a small project to reproduce the error, appreciate if you could take a look into this.

[test_with_flutter_staggered_grid_view.zip](https://github.com/Codelessly/ResponsiveFramework/files/4526101/test_with_flutter_staggered_grid_view.zip)

[2020-04-24 02:06] searchy2 commented on #8
Thanks for using the Responsive Framework @jasonlaw

I think I know what the issues is and it's already fixed in the next release. Let me test using your sample project.

[2020-04-24 05:52] searchy2 commented on #6
The `builder` method expects a `(context, widget) => widget` value.
You need to use `MaterialApp`'s `home` parameter for all your widget construction. Please place your app's widgets in the `home` parameter.

Set `ResponsiveWrapper.builder` as the Builder method. The code in the demo app might help https://github.com/Codelessly/FlutterMinimalWebsite

[2020-04-24 07:13] jasonlaw commented on #8
Glad to hear that, thank you very much for this cool framework!

[2020-04-24 13:19] hiwa-jalal commented on #6
okay got it, thank you.

[2020-04-24 13:19] hiwa-jalal commented on #6
Okay got it, thank you.

[2020-04-24 13:19] #6 closed

[2020-04-25 02:44] searchy2 commented on #8
I've confirmed the issue is fixed. You can expect an update tomorrow.

**240px**
![MaxthonSnap20200424214228](https://user-images.githubusercontent.com/19896174/80269357-b3daa300-8674-11ea-8ff2-29596a211be1.png)
**4K**
![MaxthonSnap20200424214252](https://user-images.githubusercontent.com/19896174/80269366-b63cfd00-8674-11ea-84dd-2947d7a9c124.png)

Good to see the Responsive Framework working as i

[2020-04-25 05:11] jasonlaw commented on #8
Excellent! Many thanks!

[2020-04-26 04:20] searchy2 commented on #8
Responsive Framework v0.0.5 is now released :balloon:

[2020-04-26 04:20] #8 closed

[2020-04-26 14:50] jg-l commented on #7
Can help with documentation! This package is great and needs more recognition

[2020-04-26 18:48] d-apps opened #9 "GridView.builder?"
What about GridView.builder that has **crossAxisCount** and **childAspectRatio**, how to control it using responsive_framework, does this plugin it in any way? Or do I need to check the size of width and height to set manually this values?

[2020-04-26 20:26] searchy2 commented on #9
Understanding the right approach to grids is something I have to think more about. I'm planning to add a portfolio layout to my Minimal template to test out some implementation methods.

For now, you can calculate the width and heights manually.
Here's an example of how you might configure the columns based on the breakpoint:

[code]

Hope this helps!

[2020-04-30 01:12] searchy2 commented on #7
@jg-l thanks for the offer to help with the documentation! Please email me at ray@codelessly.com and I can help you get started.
Right now, I'm still working on finalizing the API for v0.1.0 so there's a lot to help with.

[2020-05-07 15:09] AlvaroVasconcelos opened #11 "compatibility with a new version of bot_toast"

[2020-05-09 20:01] searchy2 commented on #11
Could you please provide some additional detail about your issue?

[2020-05-13 08:04] vinukn335 opened #12 "Black screen on startup"
I don't know this is bug or not

[code]

![ezgif com-video-to-gif](https://user-images.githubusercontent.com/47185599/81787209-553f7100-951e-11ea-8432-fe960a94f6ff.gif)

[2020-05-13 20:10] searchy2 commented on #12
Thanks for trying out the Responsive Framework. The black screen you're seeing is likely the iOS native background while Flutter loads. You can set the background to white or a loading image.

Please look through the following issues that are similar to yours:
https://github.com/flutter/flutter/issues/20827
https://flutter.dev/docs/development/ui/advanced/splash-screen

[2020-05-13 20:11] searchy2 commented on #12
I'll double check later today if you still experience the issue.

[2020-05-14 10:56] vinukn335 commented on #12
You are right. This bug related to flutter only. Your library is awesome!
Regards.

On Thu, 14 May 2020 at 01:41, Ray Li <notifications@github.com> wrote:

[2020-05-14 13:41] vinukn335 commented on #12
Without responsive_framework no black screen

![ezgif com-video-to-gif(1)](https://user-images.githubusercontent.com/47185599/81941645-bc405100-9616-11ea-934b-2de2ce6f8cb4.gif)

[2020-05-14 13:42] vinukn335 commented on #12
Same problem happens in Android also

[2020-05-14 16:15] searchy2 commented on #11
Without additional information, I have to close this issue. Feel free to reopen!

[2020-05-14 16:15] #11 closed

[2020-05-14 23:55] searchy2 commented on #12
This issue is pretty insane so thanks for bringing it to my attention.

It's not just one black screen you're seeing, there's 3! black screens.

The first black screen appears when the emulator connects and flickers. This seems to be intermittent. This black screen doesn't seem to appear on an actual device or launching from the launcher on the emulator.

The second black screen is because I made

[2020-05-15 00:58] searchy2 commented on #12
Ooops, let's keep this open until the fix is merged.

[2020-05-25 03:05] searchy2 commented on #9
Had a chance to play around with the GridView and am working through the different scenarios. It's an interesting challenge because GridView sizes it's children based on the screen width.

[2020-05-25 03:06] searchy2 commented on #3
I've done a bit of research into Overlays and there's hope for a good solution.

[2020-05-26 22:18] searchy2 commented on #12
Sorry for the delay. There appears to be a behavior change with how Container dimensions are calculated. Holding off on pushing a new release until more testing and unit tests are done.

For now, you can use the fix on the latest branch with:
[code]

[2020-05-29 14:56] ripern commented on #5
Is this a bug or a feature or something else? A bit misleading title?
Are you planning to add support for those 3 extra breakpoints that Webflow added?

[2020-05-29 18:10] searchy2 commented on #5
The problem with how Webflow does responsiveness is that every breakpoint requires recreating the same layout again. With the addition of 3 new breakpoints, Webflow users can now recreate the same layout 7 times instead of 4.

[2020-06-08 03:58] searchy2 opened #13 "Discussion Thread"
Discuss the Responsive Framework here ⬇️

Feel free to leave your thought on the features, API, and functionality. Or use this to start a discussion and share what's on your mind.

[2020-06-08 18:05] visual-velocity commented on #13
Hi,Your library is very well designed,So can you tell/suggest us that is it working fine with the device preview library, can be used to test the different size screen.

[2020-06-08 19:39] searchy2 commented on #13
I tested with FlutterDevicePreview a few months ago. There was a major release and I haven't tested with the latest yet.
If you give it a try, let me know how it works!

[2020-06-17 22:10] bounty1342 commented on #13
Very good combo 👍  :

[code]

You should give it a try.

[2020-06-17 22:41] searchy2 commented on #13
Glad to hear it works!
Thanks for sharing your results.

[2020-06-18 06:27] visual-velocity commented on #13
First of all thank Thank you very much this library. MInd blowing and beneficial framework for all of us. Hats off to you!!! You library help to my production app and reduce lots of boilerplates code

[2020-06-22 11:03] viveky259259 commented on #12
Is it solved ?

[2020-06-22 20:37] searchy2 commented on #12
Sorry, the fix is not yet released. I'll have more time soon to devote to the Responsive Framework soon.

[2020-06-23 10:53] viveky259259 commented on #12
Hi, I found solution to my problem. I was using an expanded on a place and because of that, I was getting this error.

After removing the Expanded Widget I was able to get rid of this problem

[2020-06-26 15:50] theantiqa opened #14 "Overlap at status bar"
Getting overlap at status bar.

![image](https://user-images.githubusercontent.com/46623939/85875733-4ec93800-b7f2-11ea-812f-9901a221d3f9.png)

This is setting which i set.
![image](https://user-images.githubusercontent.com/46623939/85875993-b54e5600-b7f2-11ea-9a8d-35705bc788ae.png)

[2020-06-28 03:07] searchy2 commented on #14
Thanks for reporting this issue!
I believe this is related to SafeArea offsets. Are you using a SafeArea in your layout?

[2020-06-29 11:15] theantiqa commented on #14
Yes I have use SafeArea in my layout. once it fixed then this library gonna be rock..
Please Resolve asap. i already used in my current running app if this will not fixed then I have to move with  other library :(

[2020-06-29 14:44] searchy2 commented on #14
I'll likely have some time in 2 weeks.

[2020-06-29 15:53] theantiqa commented on #14
So will solve it?

[2020-06-30 15:10] searchy2 commented on #14
Yes, it's on the roadmap!

[2020-06-30 17:23] theantiqa commented on #14
Thanks

[2020-07-05 12:36] theantiqa commented on #14
what is status?

[2020-07-15 03:48] theantiqa commented on #14
I don't think I have to go with this plugin. you wasted my time.

Thanks

[2020-07-15 03:55] Bilonik commented on #14
You know you can submit a PR. Say thanks, people like @searchy2 make plugins open source for the flutter community.

[2020-07-15 10:14] theantiqa commented on #14
I can't get any reply regarding overlap issue from your side since many days. so that.
If you give me duration when it will be done then its good for me and then i will use it in new project.

Thanks

[2020-07-15 12:56] joanfortes opened #15 "Issues with Cupertino Navigation bar"
Hello, i'm using the default configurantions for this lib, but when i use CupertinoPageRoute and both screens have a CupertinoNavigationBar this happens:

![Bug](https://user-images.githubusercontent.com/49821124/87547418-738e2e00-c681-11ea-9dc7-8bca64847d4b.gif)

[2020-07-15 15:44] searchy2 commented on #14
I apologize for the delay and need to be clearer in communicating whether I'm actively developing this project.

The good news is that the Responsive Framework is open source so you have the ability to look at the source code and contribute changes!

[2020-07-15 15:46] searchy2 commented on #14
I'll be updating the Reponsive Framework this week for the new Pub.dev so I'll be able to tackle some open issues.

[2020-07-16 10:06] theantiqa commented on #14
Thanks for your reply. i hope i will get solution very soon.

Thanks

[2020-07-17 07:07] rsbthebest opened #16 "Text Fields hidden behind the Keyboard"
Hi,

Let me start by saying this is an awesome plugin which am now using for all of my future projects! Amazing work there!

Now going back to the issue, I am working on an app which has a lot of text fields. I have notices that then the keypad opens about the amount of screen resizing (by Scaffold) which happens with the plugin is way less than what it does without the plugin. This is causing iss

[2020-07-17 16:18] searchy2 commented on #16
Thank you for the kind words and reporting this issue. I'll have a look this weekend!

[2020-07-21 03:51] searchy2 commented on #14
I've restarted work towards a stable v0.1.0 release. Targeting 100% test coverage and documentation this week!

[2020-07-21 03:53] searchy2 commented on #15
Thanks for filing this issue. I've noticed that there are quite a few Cupertino related bugs. Cupertino support is planned for v0.3.0.
However, this specific issue might be fixed when I solve the SafeArea issue.

[2020-07-22 04:37] TusharDcs commented on #14
Thanks man.

[2020-07-22 05:42] TusharDcs commented on #14
Hi,

I have tried your new code from github. but can't get any solution still its looking like same.
i am attaching source code as well as screen shots for 2 different different device. you can see still overlap issue.
![image](https://user-images.githubusercontent.com/68111937/88138748-e8c2ab80-cc0b-11ea-84e9-f9221e32bb92.png)

you can see attached source code below. please guide me if i made any

[2020-07-23 02:03] searchy2 commented on #14
Haven't released a new version yet. There's progress each day.

[2020-07-23 02:03] searchy2 commented on #14
Thanks for providing a demo.

[2020-07-23 04:05] theantiqa commented on #14
Once it done let me know.

[2020-07-26 01:34] btd1337 commented on #15
@searchy2 I have the same problem here. Any prevision for this bug to be solved?

Is it possible to release it in version `0.0.8`?

[2020-07-26 06:32] visual-velocity commented on #16
Hey @searchy2 ,Fantastic work by you on your library but I'm also facing this issue on my production app. Please resolve it

[2020-07-26 06:34] visual-velocity commented on #16
Without implement library it's working fine but when we use library then we are facing issue

[2020-07-26 16:50] visual-velocity commented on #16
Hey @searchy2 Please resolve this issue , otherwise we will face very big problem in our app.

[2020-07-26 22:25] searchy2 commented on #16
Feel free to give the problem a tackle and submit a PR with a fix. The library is open source so people can contribute!

[2020-07-27 19:36] mateus96mt commented on #15
Looks like i am having the same problem with CupertinoNavigationBar.

I am Aldo using the default settings for this lib.

[2020-07-31 14:47] joanfortes commented on #15
@searchy2 i've been testing some things with the lib, and i discover something, maybe can help you with the fix, when i disable the hero animation on the cupertinoNavigationTab it's stops the error,but it’s good to have the hero’s animation as it was meant to be

[2020-08-03 02:03] searchy2 commented on #12
The issue is now fixed and available in v0.0.8.
There is no need to add any MaterialApp or Scaffold backdrop color anymore.
Please note, when an app is launched the first time in the simulator, there can still be a black screen due to startup timing.

[2020-08-03 02:03] #12 closed

[2020-08-04 03:54] TusharDcs commented on #14
Hi,

Have you resolved issue regarding overlap in new version 0.08?

Thanks

[2020-08-04 05:01] searchy2 commented on #14
Not yet, but this is the next issue I'm tackling!

[2020-08-04 16:33] theantiqa commented on #14
when it will be resolved?

[2020-08-05 12:15] visual-velocity commented on #16
We are try to solve this issue by many ways but we failed. Hey @searchy2 can you please cross-check this issue, actually we are facing this issue on our production app therefore we need resolution.

[2020-08-06 22:06] danagbemava commented on #16
@searchy2 I run a simulation and it seems that the issue with textview hidden behind the keyboard has to do with the defaultScale value. When it it set to false, the textfield isn't hidden behind the keyboard. It is when it is set to true.
Configuration 1 for the ResponsiveWrapper
`class MyApp extends StatelessWidget {
  @override
  Widget build(BuildContext context) {
    return MaterialApp(

[2020-08-06 22:08] searchy2 commented on #16
Thanks for investigating and sharing your results. I'll take a look this weekend as I tackle the overlay issue.

[2020-08-06 22:09] danagbemava commented on #16
Sure, I'll be doing some more investigation to see if I can help come up with a fix for it

[2020-08-12 13:59] searchy2 commented on #9
GridView has responsiveness challenges so I've created a custom ResponsiveGridView. https://github.com/Codelessly/ResponsiveFramework/blob/master/lib/responsive_grid.dart

ResponsiveGridView enables greater item sizing control and when combined with ResponsiveValue or ResponsiveRowColumnItem, responsive layout control.

[2020-08-12 13:59] #9 closed

[2020-08-13 16:10] visual-velocity commented on #16
@danagbemava @searchy2 If we have set false to defaultScale then UI will not looking good.

[2020-08-14 02:45] MaheshPeri19 commented on #16
Yes. I integrated textfield at bottom of the screen. When i set defaultScale: false, it is working fine, but getting ugly UI and RenderFlex overflowed errors. If defaultScale: true, UI is responsive, but textfied is hidden by keyboard.

[2020-08-14 03:29] visual-velocity commented on #16
Yes @MaheshPeri19 , you are right. THank u @danagbemava for your support and response. But due to this issue and not getting any helpful/responsive response from @searchy2 till now, so I'm removing this package from my organization's enterprise production app. We are wasting too much time to fix this this  issue from our end. Thank you and Sorry @searchy2

[2020-08-14 09:18] danagbemava commented on #16
I'm aware of this. I only pointed that out so that @searchy2 will have an idea of where to start when he's working on it

[2020-08-16 22:56] lloretalvaro commented on #16
I hope the keyboard problem can be solved soon! The package it's good but the keyboard problem it's a big issue

[2020-08-24 08:22] visual-velocity commented on #16
@searchy2 I hope you are working on this issue. The package is very good therefore we need it and We are also trying to resolve this issue.

[2020-08-26 01:13] wonpyohong opened #17 "draggable feedback location"
hi, thanks for great package
I am using ReorderableWrap of 'reorderables' package.
I found feedback's location is wrong when using responsive_framework package.
More generally, there are same problem when using Draggable widget.
following is minimal reproducible application.

[code]

If item is on top-left, there are no or small difference, on right-bottom there are big difference.
I intentionally

[2020-08-31 16:04] afnx commented on #16
I was having the same problem. There is a workaround that I'm not sure yet. Wrap your TextField with the widget below:

[code]

[2020-08-31 16:30] lloretalvaro commented on #16
@afnx I have tested your possible solution in several devices and at least for me it doesn't work, it's a shame that such a nice package have this type of error.

I hope it can be solved soon! @searchy2

[2020-08-31 19:29] afnx commented on #16
@lloretalvaro Can you try this code in your MaterialApp?

[code]

[2020-09-01 03:47] searchy2 commented on #17
Thanks for reporting this issue.
I'm going to look into if it is possible to overwrite the root level MediaQuery parameters.
Some framework widgets fetch their layout from the root screen metrics directly which means they are not getting the right metrics.

[2020-09-01 03:49] searchy2 commented on #16
Thanks for trying to create a fix.

The problem is that certain Flutter widgets read layout metrics from an internal implementation of MediaQuery that accesses the root layout instead of the scaled layout.

I have no timeline for when this issue can be fixed.

[2020-09-04 15:23] AlmogRnD opened #18 "Does not work in iOS tablet"
Testing this out and I'm seeing it's not working on iOS tablet for a Flutter mobile app. Attached screenshot
<img width="660" alt="Screen Shot 2020-09-04 at 6 20 32 PM" src="https://user-images.githubusercontent.com/169507/92255862-95669d00-eedb-11ea-8c2b-fd444eb4b784.png">

<img width="642" alt="Screen Shot 2020-09-04 at 6 20 48 PM" src="https://user-images.githubusercontent.com/169507/92255888-9

[2020-09-04 17:07] deep01code commented on #16
@searchy2  PLEASE PLEASE PLEASE resolve this issue, I am in big trouble. When do you think this issue will be fixed.

Thanks in advance for your amazing work

[2020-09-04 17:15] searchy2 commented on #16
I'll take a look today and this weekend.

[2020-09-04 17:19] deep01code commented on #16
@searchy2 I can't thank you enough, I really appreciate your help.

[2020-09-06 17:55] visual-velocity commented on #16
@searchy2 We are in big trouble.

[2020-09-08 06:57] michealchow2324 opened #19 "How to set the minWith correctly?"
For example if i was using Iphone SE to build the layout, what is the proper value for **minWidth** ?
[code]

[2020-09-08 19:10] searchy2 commented on #19
Depends on the design.

I usually use a value between 360 to 480.

Find the smallest width above 360 that looks good and use that as the min width.

[2020-09-09 07:43] michealchow2324 commented on #19
Because some layouts are oversize in different device when i set the minWidth to 480, and i don't know if it is a normal behaviour.

[2020-09-09 13:25] Prn-Ice commented on #13
Hi, does this plugin help with scaling between devices of similar screen sizes eg two mobile phones with different sizes/aspect ratios, by default on flutter, a view on the target device can display just fine but on a smaller device, you could get RenderFlex errors.

[2020-09-09 13:29] Prn-Ice commented on #13
Also, amazing presentation of this package, one of the best I've seen. I gave it a like before I even read through the whole readme.

[2020-09-09 14:37] franarolas opened #20 "TextField, TextFormField and Button resizing not working in Flutter Web"
Currently the responsive framework is not resizing the TextField's, TextFormField's and Button's in Flutter Web at version ^0.0.8.
Is this a known issue? Is there any fix coming?

Thank you.

[2020-09-09 14:55] searchy2 commented on #20
Can you please provide me a sample?
I just used the Responsive Framework last night on my website with TextFields and Buttons and they scaled perfectly,
https://codelessly.com

[2020-09-09 14:58] searchy2 commented on #13
Until I can resolve the TextForm keyboard focus issue and the SafeArea issue, I cannot recommend using this library on Mobile. Yes, the scaling will adjust for smaller devices but there are framework level interactions that are not accounted for such as Overlays, TextFields, and SafeAreas.

The ResponsiveFramework works almost perfectly for Flutter Websites.

Thanks for the kind words!

[2020-09-09 15:03] searchy2 commented on #19
Find the smallest width that your layout looks good on and set that as the min width.
Can you try setting 400? That's a good default value.

[2020-09-09 15:22] franarolas commented on #20
I've the following:
![imagen](https://user-images.githubusercontent.com/42511706/92616843-ff59ba80-f2be-11ea-80dc-634fc2657b6d.png)

And if I do it smaller:
![imagen](https://user-images.githubusercontent.com/42511706/92618571-c9b5d100-f2c0-11ea-9df1-41a3027494df.png)

It doesn't resize.

ResponsiveBreakpoints:

[code]

[2020-09-09 15:49] searchy2 commented on #20
Can you try setting the breakpoint to autoScale?
[code]

[2020-09-09 16:11] franarolas commented on #20
I will run some tests to exactly know what's going on and in the case that I found out that the error is coming from the responsive framework I will open a thread with a detailed description, thank you for your patience.

[2020-09-09 16:11] #20 closed

[2020-09-09 16:56] franarolas opened #21 "Resize not working properly after 800 pixels of width in Flutter Web"
So I've been testing a few things and it looks like the resize is not working properly when you have an screen width of more than 800 pixels.
As far as I know the following widgets are not working properly: TextField, TextFormField, RaisedButton.
I've shared a git project so you can see exactly what I mean:
[Git responsive test project](https://gitlab.com/juliansanchezpaez/responsive-test) (Test i

[2020-09-09 17:20] sorasful commented on #14
@theantiqa you annoy me. You are not some client at some bar here. Open-sourced projects are built by people who are willing to give their time for the community.  So if you want it so badly and so quickly, just do it yourself (and don't forget to send a PR 😉 ).

[2020-09-09 17:23] searchy2 commented on #21
The ResponsiveFramework supports responsive behaviors, `autoScale`, `resize`, and `autoScaleDown`.

In the code below, you can see that a `resize` breakpoint is set at 800.

[code]

Resize allows Flutter to resize the layout normally. Please play around with the responsive behaviors to understand how they affect resizing.

[2020-09-09 17:27] franarolas commented on #21
Even if I have it like that:```

ResponsiveBreakpoint.resize(425, name: MOBILE),
ResponsiveBreakpoint.resize(800, name: TABLET),
ResponsiveBreakpoint.resize(1000, name: DESKTOP),
[code]

[2020-09-09 17:31] searchy2 commented on #14
@sorasful I hide your comment because personal attacks are not allowed.
Open source is a wonderful thing and software wouldn't work without people giving their time and energy to create useful libraries.

@theantiqa, you are always welcome to contribute and I can even help point you in the right direction as to what needs to be done to fix this issue. Please realize that open source contributors t

[2020-09-09 20:20] deep01code commented on #16
@searchy2 :)

[2020-09-10 06:50] michealchow2324 commented on #19
thanks , i think i got it.

[2020-09-10 07:00] michealchow2324 opened #22 "The height from two screens looks different"
![Simulator Screen Shot - iPhone SE (2nd generation) - 2020-09-10 at 14 50 04](https://user-images.githubusercontent.com/47425480/92691701-8ec1a500-f375-11ea-95bf-c6fe9788b508.png)

![Screenshot_1599720607](https://user-images.githubusercontent.com/47425480/92691709-93865900-f375-11ea-97cc-f23b5636b797.png)

Does anyone know how to make the horizontal space scale correctly?

This is my main setup

[2020-09-10 18:19] deep01code commented on #16
@searchy2 :)

[2020-09-10 19:42] searchy2 commented on #16
@deep01code Please refrain from spamming this thread. I'm aware of the issue.

[2020-09-13 16:10] Prn-Ice opened #23 "Blurring on AppBar"
![Peek 2020-09-13 14-35](https://user-images.githubusercontent.com/48252841/93022938-a7cf8d80-f5e3-11ea-9b8f-e06e0af7193a.gif)

I hope you can notice, but the text on the appBar gets a bit blurred out at times. Is this a common effect of scaling.

[2020-09-13 17:11] searchy2 commented on #23
Can you provide a side by side screenshot?
I do not see any blur in the GIF.

Text does blur when scaled up. Please try scaling down which works a lot better.

[2020-09-13 17:14] Prn-Ice commented on #23
So basically `autoScaleDown` instead of `autoScale`.

Ok

[2020-09-13 17:22] Prn-Ice commented on #23
![image](https://user-images.githubusercontent.com/48252841/93024366-dfdbce00-f5ed-11ea-8a07-54ba629a3141.png)

![image](https://user-images.githubusercontent.com/48252841/93024388-07cb3180-f5ee-11ea-885d-d9357afbf23b.png)

[2020-09-13 17:35] Prn-Ice commented on #23
I have a 720p display, I think that might be the issue. Zooming in fixes it.

[2020-09-18 00:47] gcostaapps commented on #21
@franarolas I think you need to change the methods resize for autoscale to lock the UI and not make then wider.

[2020-09-18 00:55] gcostaapps commented on #13
@bounty1342, the returning MediaQuery that you use, what is it purpose? Does it change the MediaQuery parameters?

[2020-09-18 19:52] bounty1342 commented on #13
@gcostaapps it's to fix the MediaQuery for the whole app. In this case textScaleFactor is overridden.

[2020-09-19 14:02] gcostaapps commented on #13
@bounty1342 that's great! Maybe that could be a fix for #17, because these libs generally take the MediaQuery parameters to calculate positions.

[2020-09-19 14:07] gcostaapps commented on #17
Could you try using this build with the MediaQuery parameter? It was used to fix MediaQuery for entire app.

[code]

[2020-09-19 18:52] wonpyohong commented on #17
I tried below, but I still have same problem.
It seems that I already used MediaData on MaterialApp level with 'mediaQueryData parameter of ResponsiveWrapper.builder method.
DevicePreview is just helper and not related to this issue, right?
(i have compile error, so I cannot try right now, https://github.com/aloisdeniel/flutter_device_preview/issues/67)

[code]

Thanks for reply :)

[2020-09-23 14:35] bounty1342 commented on #17
@searchy2 Might be related to this one, but I have issue with ReorderableListView. Should I open a new issue ?
Depending on the location of the click, it throw the widget off.

[2020-09-23 14:37] searchy2 commented on #17
It's most likely related to this issue.

The problem/solution is in passing a transformed composited tap target.

Not sure on the exact implementation but I can point you in the right direction if you are interested in taking a look.

[2020-09-23 19:48] deep01code commented on #16
Dear @searchy2

Please accept my apologies if I bothered you by asking again, but I am facing huge issues in my work. Is there any expected date for fixing this issue.

Thanks in Advance.

[2020-09-24 10:26] bounty1342 commented on #17
Found this :

https://medium.com/flutter/how-to-float-an-overlay-widget-over-a-possibly-transformed-ui-widget-1d15ca7667b6

So wrapping the parent widget with a CompositedTransformTarget to get reference to the cordinate sytem and then wrap the child with CompositedTransformFollower to follow it.
This seems way to easy to actually work 😁

[2020-09-24 16:10] franarolas commented on #21
It is the solution that I am using right now, but I don't think that is how it should work.

[2020-10-10 20:10] searchy2 commented on #23
The issue appears to be resolved. Please reopen if the issue persists.

[2020-10-10 20:10] #23 closed

[2020-10-10 20:12] searchy2 commented on #21
Resize is the default behavior which allows Flutter to layout normally.
If you want to increase the UI layout proportionally and `scale` the UI, use `AutoScale` instead.

Closing as working as intended. Please reopen if you have additional questions.

[2020-10-10 20:12] #21 closed

[2020-10-15 07:51] antoniocasero commented on #18
This sounds like you are not enabling the iPad scheme on your ios project. The screenshot is an iPad running a simulator for iPhone apps.
It's not about the code.

[2020-10-20 17:49] SpencerLindemuth opened #24 "Modal Bottom sheet doesn't resize correctly"
If I use a modal bottom sheet like below,

[code]

The content becomes centered instead of aligning top like it does normally. Also I use bottom sheets with inputs which I float above the on screen keyboard using isScrollControlled = true to enable it to take up more than 50% of the screen, but with the ResponsiveWrapper it covers the entire screen and centers the child. I think this is because Re

[2020-10-21 14:00] searchy2 commented on #24
Thanks for reporting!

Can you try setting `shrinkWrap` to true?

That most likely won't fix the issue unfortunately but I will be working on a fix for the modals and SafeArea issues in a month.

[2020-10-21 17:06] SpencerLindemuth commented on #24
Unfortunately showModalBottomSheet doesn't have a `shrinkWrap` property. I do have  my child column set to `MainAxisSize.min` which I think is about as close to `shrinkWrap` as I can get.  Overall this is an amazing package and I look forward to your updates!

[2020-10-21 17:19] searchy2 commented on #24
Thanks for 	the kind words! There's a shrink wrap property in the Responsive Framework

[2020-10-21 18:27] SpencerLindemuth commented on #24
That actually worked! The issue was also that I was using `ResponsiveWrapper.builder()`, but after switching to just a `ResponsiveWrapper()` class and settings `shrinkWrap` to true it's working! The trouble now is that it doesn't scale the `MediaQuery.of(context).viewInsets.bottom` properly with the keyboard open so on smaller screens the input is hidden behind the keyboard, but that's something I

[2020-10-21 18:41] searchy2 commented on #24
Great! If you are interested in solving the modal resize problem, I can point you in the right direction.

The solution is in Alois Deniels Device Preview package. He's solved the offset and modal resize and I have yet to port his solution over.

[2020-10-21 18:47] SpencerLindemuth commented on #24
I'll look into it and try to make a pull request! Thanks again.

[2020-10-22 18:17] searchy2 commented on #18
@antoniocasero is correct. The app is running in iPhone mode.

[2020-10-22 18:17] #18 closed

[2020-10-24 05:14] searchy2 commented on #19
Great! Closing this issue as solved. Please feel free to open.

[2020-10-24 05:14] #19 closed

[2020-10-24 05:15] searchy2 commented on #14
Thanks you @TusharDcs for the sample project.

The status bar overlap is fixed in v0.0.10.

[2020-10-24 05:15] #14 closed

[2020-10-24 05:16] searchy2 commented on #16
Please test with the new v0.0.10 release.
The keyboard insets should be fixed.

[2020-10-24 07:10] visual-velocity commented on #16
Sure

[2020-11-05 03:49] searchy2 opened #26 "ResponsiveGridView Padding Null Error"
Null padding throws an error because of missing null check.

[2020-11-06 17:40] SpencerLindemuth opened #27 "Alignment top center pulls dialogs up"
I'm using a very narrow testing scope so this may have some severe unintended consequences, but in ResponsiveWrapper, is there a reason the `Stack` that wraps the resized widget aligns top center and not center? If you use the `showDialog` method with a `SimpleDialog` child, it floats to the top when used with a ResponsiveWrapper instead of the native center float. Changing the stack alignment fix

[2020-11-08 01:06] MaheshPeri19 commented on #16
Thank you very much. It is working perfectly now.

[2020-11-08 01:48] searchy2 commented on #16
Amazing to hear. Can you confirm that TextFields show correctly for you @visual-velocity @deep01code?

[2020-11-08 01:54] searchy2 commented on #27
`Alignment.topCenter` is used to position content that does not fill the page at the top of the screen.
This is useful for when the UI is shorter than the screen. You would want content to start at the top.

The solution here is to add the ability to customize which widget is returned between the InheritedResponsiveWrapper and the MediaQuery. This will also enable users to add custom backgrounds o

[2020-11-08 06:56] visual-velocity commented on #16
Perfect , it's working now

On Sun, 8 Nov, 2020, 7:18 am Ray Li, <notifications@github.com> wrote:

[2020-11-08 16:34] searchy2 commented on #16
Great to hear! All credit goes to @SpencerLindemuth

[2020-11-08 16:34] #16 closed

[2020-11-08 19:36] visual-velocity commented on #16
Than you for your hard work, you save lots of time..

On Sun, 8 Nov, 2020, 10:04 pm Ray Li, <notifications@github.com> wrote:

[2020-11-08 20:50] searchy2 commented on #16
Thank you for using the library!
I'm doing the best I can to continuously improve and close out the issues 1 by 1.
Any help is much appreciated.

[2020-11-10 01:55] searchy2 commented on #27
Out of curiosity Spencer, what are you building? I just saw that you contributed to flutter_linkify too

[2020-11-10 17:03] SpencerLindemuth commented on #27
I'm the mobile dev at Off The Record. We're on the playstore and app store if you want to check it out. I've been working with flutter long enough now I'm trying to be more involved in the open source community and close some gaps I've found too.

[2020-11-16 08:02] jaganmohangumpa opened #28 "In web, scrolling is not working"

[2020-11-16 15:08] searchy2 commented on #28
Can you please provide more information?
I just tested scrolling with https://github.com/Codelessly/FlutterMinimalWebsite and it works.

[2020-11-16 15:24] searchy2 commented on #26
Fixed in https://github.com/Codelessly/ResponsiveFramework/commit/48effee4193f361c00f6e7a4ea46578f199a9a7c

[2020-11-16 15:24] #26 closed

[2020-11-16 16:18] searchy2 commented on #27
I've added an Alignment parameter. Can you test and let me know if it solves your issue?

[2020-11-18 00:33] SpencerLindemuth commented on #27
Yes! This keeps the `Dialog` centered as expected, thank you! There's another problem where, if the builder in `showDialog()` returns a `ResponsiveWrapper`, it loses the ability to scroll but that's a separate issue I can look into.

[2020-11-18 23:56] searchy2 commented on #28
Closing without further information.

[2020-11-18 23:56] #28 closed

[2020-11-20 23:29] SpencerLindemuth opened #29 "MediaQuery.of() The method 'dependOnInheritedWidgetOfExactType' was called on null."
I'm unfortunately not able to reproduce this error, and the stack trace from our logs is short and unhelpful, but I'm seeing this error pop up in our app at an alarmingly high rate. I call the `ResponsiveWrapper.builder` inside of the `onGenerateRoute` callback in `MaterialApp` so I can't figure out when the BuildContext would be null. Have you seen this issue before or know a direction to look? L

[2020-11-20 23:54] searchy2 commented on #29
Hi Spencer,
Let me take a look in the next few days.
The dependOnInheritedWidgetOfExactType error happens when an Inherited Widget is missing from the tree. My guess is that either the ResponsiveWrapper doesn't like the onGenerateRoute or MediaQuery is missing during one of the State's lifecycle calls.

[2020-11-21 00:12] searchy2 commented on #29
Can you share the code where you use the Responsive Framework?

I just remembered the the onGeneratedRoute likely interferes with the builder. Instead using ResponsiveWrapper() directly is likely the right approach because then it can get the context directly from the parent MaterialApp.

[2020-11-21 00:19] SpencerLindemuth commented on #29
[code]

[2020-11-21 00:20] SpencerLindemuth commented on #29
`onGenerateRoute` calls this function

[2020-11-23 17:50] pedromassango opened #30 "Shadow behind pages"
Hey great package!

I just added it following the Readme, and it shows this shadow behind my pages. Note that if I remove the code of this package the shadow disppear so I suspect that this is an issue within the package. I've tried to find the cause but had no luck.

![Screen Shot 2020-11-23 at 18 47 20](https://user-images.githubusercontent.com/33294549/99996734-6fef7e00-2dbc-11eb-87be-d0d995580

[2020-11-23 18:01] searchy2 commented on #30
You're setting a max width and the shadow is the default MaterialApp navigation shadow.
Usually, the shadow is hidden because the edge of the UI is flush with the edge of the screen. Now that the UI is not, you can see the shadow.

The solution is to override the Material navigation if you want to get rid of the shadow.
https://github.com/Codelessly/FlutterMinimalWebsite/blob/3c27638817a2547c79738

[2020-11-23 18:02] searchy2 commented on #29
Instead of returning the building in the route function, can you use the ResponsiveWrapper non-builder version inside the widget tree?

[2020-11-23 18:08] SpencerLindemuth commented on #29
I tested by removing the `.builder` method and returned the ResponsiveWrapper() in the above function and it worked as long as I set `shrinkwrap: false`. Is that what you mean? Or do you mean wrapping the `MaterialApp` in a ResponsiveWrapper?

[2020-11-23 18:22] pedromassango commented on #30
Sorry, it is still not clear to me what the solution is. Tried to override **onGenerateRoute** and provide a custom route but the shadow still there

[2020-11-23 18:22] searchy2 commented on #29
Yes, that's right.
Is this the new navigator 2 you are using? I have very limited experience with Navigator 2 and need to do more experiments.

[2020-11-23 18:23] searchy2 commented on #30
Oh right, can you try setting the theme to Android?
      `theme: Theme.of(context).copyWith(platform: TargetPlatform.android)`

[2020-11-23 18:24] SpencerLindemuth commented on #29
Nope still Navigator 1, just wrote a custom route table for better organization and cleaner dependency injection

[2020-11-23 18:27] #30 closed

[2020-11-24 23:18] SpencerLindemuth commented on #29
Good news, I was finally able to reproduce this issue! It's happening when the app opens an external link, and I press the shortcut button in the top left corner to go back to the app. When the app regains foreground it calls didChangeMetrics and that's where context is null. It made no difference using `ResponsiveWrapper` or `ResponsiveWrapper.builder`.

[2020-11-24 23:22] searchy2 commented on #29
Oh wow, glad you were able to reproduce. Is the solution to change from MediaQuery.of to MediaQuery.maybeOf?

[2020-11-25 00:04] SpencerLindemuth commented on #29
I'm working on a solution, I'll iron it out and make a pull request tomorrow!

[2020-11-25 17:20] searchy2 commented on #29
Thank you for your help. Merged and released in v0.0.12

[2020-11-25 17:20] searchy2 commented on #27
Fixed with alignment parameter in v0.0.12

[2020-11-30 14:37] cyrilOrderoo commented on #17
Same problem, very complicated to use draggable on tablet. When moving, the draggable is moved away from the cursor.  Do you have any news on the issue ? Thanks

[2020-12-06 10:18] fisforfaheem opened #33 "Will there be desktop like Ui support ???"
it would be cool to see desktop ui automatically infl flutter

[2020-12-08 23:22] jdewolf621 opened #34 "convex_bottom_bar 2.6.0 display issue"
Leveraging the ResponsiveFramework for an app I'm building. I'm having an issue where the botton nav bar (convex_bottom_bar) gets cut off on both sides on the screen.  If I remove the convex_bottom_bar and replace it with a blue container, it goes the full width of the screen.  Didn't know if others were having a similar issue?  Thanks!

![capture2](https://user-images.githubusercontent.com/670043

[2020-12-09 00:33] searchy2 commented on #13
Closing and migrating to https://github.com/Codelessly/ResponsiveFramework/discussions/35

[2020-12-09 00:33] searchy2 commented on #29
Can this issue be closed?

[2020-12-09 00:35] searchy2 commented on #33
What do you mean by Desktop UI? What is an example?

[2020-12-09 00:36] searchy2 commented on #34
Can you share a reproducible example with the convex_bottom_bar?

[2020-12-09 00:40] SpencerLindemuth commented on #29
Yes sorry, closing now!

[2020-12-09 00:40] #29 closed

[2020-12-15 11:32] jdewolf621 commented on #34
This ended up being a issue with the way the app was constructed.  There were two material apps...one for the splash screen portion of the app and another for the rest of the app.  As soon as this issue was addressed, the formatting issue was corrected.

[2020-12-15 11:32] #34 closed

[2020-12-15 15:13] searchy2 commented on #34
Wonderful, glad you were able to resolve the issue.

[2020-12-17 18:09] searchy2 commented on #33
Please reopen if you are able to provide more information.

[2020-12-17 18:09] #33 closed

[2020-12-18 07:53] sarbazx opened #36 "Disable autoScale for specific widget"
Is there a way to disable autoScale for specific widget? I'm having a problem with FloatingActionButton when navigation, it becomes bigger then goes back to normal,

![play](https://user-images.githubusercontent.com/5629946/102588716-f4fd5700-411e-11eb-8411-6ca8b3290292.gif)

here is the code

[code]

setting `defaultScale: false` fixes the issue but I lose scaling for the whole app, how do I solv

[2020-12-18 11:36] #36 closed

[2020-12-18 11:37] sarbazx commented on #36
no need I forgot about herotag

[2020-12-28 02:08] carlosfiori commented on #4
Hi, is the v0.2.0 ready for update on pub.dev?
I'm facing the same issue with Hero animations

[2020-12-28 02:23] searchy2 commented on #4
Would you be interested in helping contribute a fix? I can point you in the right direction.

[2020-12-28 02:40] carlosfiori commented on #4
Absolutely

[2020-12-29 20:50] bounty1342 commented on #17
Hi @searchy2,
Having issues with dragg and drop, but also with other package like flutter_intro.
Do you have any update on a fix ?

[2021-01-03 12:53] carlosfiori commented on #4
Hello happy new year.

I managed to discover that the problem is in the overlay created by Hero, I can't see a solution through the package itself, I think that for correction we will have to extend the original Hero and integrate the part that creates the overlay with the package, thus creating a new one hero that respects the defined scales.

[2021-01-16 05:31] naveenbharadwaj19 opened #37 "How to use this package in flutter mobile ?"
I'm trying to add this responsive frame work in my `main.dart ` ` materialapp` but still i couldn't figure how to add it properly . This package only for web ?

[2021-01-16 06:09] #37 closed

[2021-01-20 08:55] prateekmedia opened #38 "Landscape mode and responsive framework"
### *Intro*
This framework works flawlessly for small screen devices, but when you turn your device into landscape mode the situation also becomes upside down.

### The Problem
Although this is able to hand my approximately 450x850 mobile, but when I turn it in landscape mode then all the ui elements are too big and some are even overflowing cause of the less dpi in small screen but that's not the

[2021-01-21 16:09] #27 closed

[2021-01-22 08:59] wonpyohong commented on #17
any progress?

[2021-01-24 03:52] searchy2 commented on #38
Great issue. Thanks for providing a good explanation. I think I understand what you're saying but if you could provide some images of layouts that don't look right in landscape mode, that'd be great.

Thanks for using this library!

[2021-01-24 05:15] prateekmedia commented on #38
Ok let me capture the issue

[2021-01-24 05:25] prateekmedia commented on #38
@searchy2

**Portrait**
![IMG_20210124_105054](https://user-images.githubusercontent.com/41370460/105621898-61f8c080-5e32-11eb-9f46-aa804e2bb8a9.jpg)

**Landscape**
![IMG_20210124_105110](https://user-images.githubusercontent.com/41370460/105621901-67eea180-5e32-11eb-80e9-a3c74ec1832e.jpg)

Although it fits in landscape in my other 1280x720 mobile and other tablet but the 450x850 mobile doesn't fi

[2021-01-24 05:28] searchy2 commented on #38
Thanks, I will take a look and add a landscape param most likely.

For now, can you take a look at ResponsiveRowColumn to see if it suits your needs?

[2021-01-24 08:47] prateekmedia commented on #38
Thanks for the info about ResponsiveRowColumn, previously I was using a Similar setup as a widget cause their is not much info about this in the READme.

But this also doesn't do much and the problem still remains.. :(,

I hope this gets solved soon till then I am attaching the code of my responsive builder below:

[code]

[2021-01-24 16:21] wonpyohong commented on #17
I resolved with workaround (simple but some boilerplate codes)
If you use the widget that internally use OverlayEntry to make draggable feedback, Responsive framework package can generate coordination problem. e.g., ReorderableWidget, Draggable, LongPressDraggable, etc.
That widget may have parameter onDragStarted, onDragEnded, feedback. (or other name)

[code]

[2021-01-28 11:46] huteri opened #39 "backgroundColor should be a widget instead of Color"
[code]

[code]

Used here as widget instead of color
[code]

[2021-01-28 14:07] NTMS2017 opened #40 "How can I adjust iPad font size?"
Hi,

I tested the minimal example in iPhone 11, iPhone SE and iPad as shown below screen. In the update text becomes too small for reading. My first question is how can I adjust iPad font size?

For my second question: I already have an iOS app and trying to use your plugin to make my app more responsive. My app only for iPhone and iPad. I have a bottom navigation and my app in portrait mode. is y

[2021-01-28 22:47] searchy2 commented on #39
Thank you for catching this error!

[2021-01-30 03:10] bounty1342 commented on #40
Hi,

Hopefully my answer will help you and save some time for the author to look at other issues ;)

_I tested the minimal example in iPhone 11, iPhone SE and iPad as shown below screen. In the update text becomes too small for reading. My first question is how can I adjust iPad font size?_
I would use a [DefaultTextStyle](https://api.flutter.dev/flutter/widgets/DefaultTextStyle-class.html), that

[2021-01-30 12:27] NTMS2017 commented on #40
@bounty1342 Thank you very much.

I am not sure if I use correctly the DefaultTextStyle. Here is my code and image. It looks normal.   Also do you have any good example of how to use the "ResponsiveWrapper"?

`
      debugShowCheckedModeBanner: false,

      builder: (context, widget) => ResponsiveWrapper.builder(
          BouncingScrollWrapper.builder(context, widget),
          maxWidth: 1200,

[2021-01-30 20:34] bounty1342 commented on #40
DefaultTextStyle(
      style: TextStyle(color: Theme.of(context).primaryColor )**.apply(fontSizeFactor: zoomSize)**,

Where XXX is the ratio to give the font size (zoom factor).

Then you can do something like :
zoomSize = ResponsiveWrapper.of(context).equals(TABLET) ?zoomSize*1.5:zoomSize;
zoomSize = ResponsiveWrapper.of(context).equals(2460) ?zoomSize*1.5:zoomSize;

Or use a ratio of      Respo

[2021-01-31 15:25] huteri commented on #39
You are welcome @searchy2. Any plan to release this fix?

[2021-02-01 17:19] NTMS2017 commented on #40
Thanks for the info, I will test it today.

2 breakpoints (Tablet in your example) was in your example main.dart file, I just copied and I will corrected now.

[2021-02-01 17:55] NTMS2017 commented on #40
I try but got error as follows:

**ERROR:**

[code]

**CODE:**
[code]

[2021-02-01 18:26] bounty1342 commented on #40
You got to set a fontSize, the error is pretty strait-forward...

[2021-02-01 19:27] NTMS2017 commented on #40
Thanks, I checked Flutter PUB examples and corrected my UI as shown in blow code.

For font size I also used:
[code]

**CODE:**

[code]

[2021-02-01 19:28] NTMS2017 commented on #40
Please don't close this post because I am testing for container, image etc. Thanks

[2021-02-02 01:39] searchy2 commented on #39
I would like to batch the fix with some other fixes for a package release.
I'll push a fix for this bug and you can use it directly via Git import in a bit.

[2021-02-02 06:09] searchy2 commented on #39
Fixed via https://github.com/Codelessly/ResponsiveFramework/commit/c55ab5c50ff0deeec2fc633d19a159a8f0e394eb

For now, you can use the fix on the latest branch with:
responsive_framework:
    git:
      url: https://github.com/Codelessly/ResponsiveFramework.git
      ref: master

[2021-02-02 06:12] searchy2 commented on #38
Will create a fix for this issue soon.

[2021-02-02 19:02] afnx commented on #4
@searchy2, I have the same problem. Have you found any workarounds so far?

Btw, I'd like to work on this If you can tell me from where I should start.

[2021-02-03 03:24] searchy2 commented on #4
@afnx Alois Deniel has solved some of the hero and drag target issues in his device preview.
If you can find his method, we might be able to integrate it into the Responsive Framework.

[2021-02-05 18:37] mrmayurgithub commented on #40
What if i use a paragraph, how can I resize it according to the browser's size. I am building a webapp, so somewhere in the webapp , I am using a row in which first element is an image and then a text (paragraph). There's no way that the text will be adjusted in one single line, so is there any way of resizing and adjust the text according to the browser'size ?

[2021-02-06 10:52] bounty1342 commented on #40
There is an autosizedtext package, you might want to look at.

[2021-02-09 05:13] huteri commented on #39
thanks @searchy2 appreciate it.

[2021-02-15 12:56] killerm250m opened #41 "Best Library EVER !!!"
Thank you very much

[2021-02-15 13:15] #41 closed

[2021-02-18 19:21] searchy2 commented on #41
Thank you very much!
This is the best issue I've seen 😆

[2021-02-19 07:06] SdxCoder commented on #39
When the fix will be pushed to pub dev. Need to use this in a production app.

[2021-02-23 00:39] searchy2 commented on #39
@SdxCoder I'm fixing one more bug and then I'll release a fix.
Thank you for your patience.

[2021-02-23 11:12] pedromassango opened #42 "Migrate to Null Safety"
Now that Null Safety is about to become stable it is important to have this package migrated as well or at least have a null safety version.

[2021-02-23 17:00] searchy2 commented on #42
Yes, this package will be migrated to null safety.
There should be a tool released at Flutter Engage to help so I'm waiting on that.

[2021-02-24 20:41] carlosfiori commented on #4
As a workaround I've been using the package animations (https://pub.dev/packages/animations#container-transform), he gives a similiar animation.

[2021-02-26 10:10] salim-hbk opened #43 "1 positional argument expected"
In a example at pub.dev . you have not included positional argument.

[2021-02-27 08:26] seyedmohammadali commented on #4
I have the same problem in Hero transition . can you help me bro ?

[2021-03-02 07:51] bagaswastu opened #44 "Cannot use GetX context"
When I use responsive framework I can't use [getx](https://github.com/jonataslaw/getx) context, whenever I called context with getx the context is always null.

How to produce:
- Install getx package
- use function that requires context, for example: `Get.to(Homepage())`

[2021-03-03 04:00] searchy2 commented on #43
Oh! So this was the reason some users were reporting that they were having difficulties.
Thanks for bringing this to my attention. Fixed!

[2021-03-03 04:00] #43 closed

[2021-03-03 04:01] searchy2 commented on #44
Thank you for reporting, this definitely shouldn't be the case so let me look into it.

[2021-03-03 04:10] searchy2 commented on #38
Good news! MediaQuery contains the landscape and portrait orientation property.

https://api.flutter.dev/flutter/widgets/MediaQueryData/orientation.html

[2021-03-03 04:18] searchy2 commented on #44
Can you try the following configuration? GetX worked for me when using the builder property.
![MaxthonSnap20210302221708](https://user-images.githubusercontent.com/19896174/109751915-13fb7900-7ba5-11eb-9517-7e1f5a60cf9d.png)

[2021-03-03 04:23] searchy2 commented on #39
Fix available in v0.0.15

[2021-03-03 04:23] #39 closed

[2021-03-03 04:23] prateekmedia commented on #38
Can you elaborate more?

[2021-03-03 04:49] searchy2 commented on #38
If you use MediaQueryData's orientation property, you will get Orientation.landscape and Orientation.portrait which is what you wanted right?

[2021-03-03 21:28] Eroo36 commented on #42
Is there an update on this? Now its out but cannot migrate because apparently this package is not migrated to it yet

[2021-03-04 00:39] bounty1342 commented on #42
@Eroo36 : You will have to wait a bit or PR the migration yourself maybe ?
No need to be rude or pushy. If I was the author, with comment like this, I would delay the release even further...

[2021-03-04 01:20] searchy2 commented on #42
Package will be migrated soon. Maybe even tonight.
We will want to do a preview release and bundle some breaking changes into v0.0.20 before a general release however.

That and testing by upgrading the test apps.

[2021-03-04 06:41] searchy2 commented on #42
There's now the nullsafety branch https://github.com/Codelessly/ResponsiveFramework/tree/nullsafety
Conversion is done but a there's a lot of testing before I'm confident in releasing.
Would appreciate any help reviewing the code.

[2021-03-04 07:40] pedromassango commented on #42
@searchy2 we may need the PR for the review

[2021-03-04 15:31] searchy2 commented on #42
Oh right! https://github.com/Codelessly/ResponsiveFramework/pull/45

[2021-03-06 02:28] searchy2 commented on #44
Was my answer helpful in resolving your issue?

[2021-03-06 02:30] searchy2 commented on #42
Please look over the PR if any of you have time.

[2021-03-06 03:37] bagaswastu commented on #44
Hi, sorry for late response, your code works like a charm, thank you!

[2021-03-06 03:37] #44 closed

[2021-03-08 10:44] prateekmedia commented on #38
Hey @searchy2,

Sorry for late reply, that's not what I wanted.

If you read my problem again then it when I set the breakpoints of responsive framework then it treats like 450x850(widthxheight) in portrait but in landscape it will become 850x450 so the breakpoints will think its a Tablet and will not apply the responsive breakpoint formula (hence some of my objects will come out of the screen as

[2021-03-14 17:04] searchy2 commented on #38
My apologies, I thought I reopened this issue already.

[2021-03-15 01:27] searchy2 opened #46 "ResponsiveGrid Padding Exceeds Width Assertion Error"
TODO: Investigate whether a hard assertion and error is necessary for when padding exceeds grid view width.
Perhaps a safer way is to log a warning and not throw an error.
`responsive_grid.dart` Line 81
[code]

[2021-03-15 02:47] searchy2 commented on #42
Null Safety release :tada: https://github.com/Codelessly/ResponsiveFramework/releases/tag/0.1.0

[2021-03-15 02:47] #42 closed

[2021-03-15 11:14] iamsannyrai opened #47 "Improvement request."
Hey @searchy2 ! Thank you for search a great package.
I have one improvement request.

As per the implementation, it is obvious that children of ResponsiveRowColumn gets rebuilt every time we resizes our app (in my case its web app).

For example, suppose we have one StatefulWidget widget as one of the children and it makes network call in its initState() method. Then each time when we resizes our

[2021-03-16 05:16] searchy2 commented on #47
Thank you.

Widgets will be rebuild on resize unless they are declared as const. Flutter does an identity check for widgets that listen to resize. If the new widget is equal to the old widget, didUpdateWidget is called instead of initState.

You should not put network calls in initState.

It is possible I'm not declaring const children so I will look into if ResponsiveRowColumn is incorrectly recr

[2021-03-17 12:29] Jumon7 opened #48 "Bottom overflowed issue"
I have tried the framework and works fine in portrait mode but when I make it landscape mode problem occurs, In my 5.9" phone screen when I try to show a dialog it shows bottom overflowed by.... pixels.
what can be probable solution to it?
Texts also seems appears smaller than expected.
Im using this sizing.

 builder: (context,widget) => ResponsiveWrapper.builder(
        BouncingScrollWrapper.bu

[2021-03-18 02:35] fdarsot commented on #38
@searchy2
I also have the same issue. when turning my devices into landscape mode, the responsiveness is not working (everything is not fitting the screen properly). Any idea when a fix will be out?

[2021-03-18 02:47] searchy2 commented on #38
This'll be the next thing I look at.

[2021-03-18 03:23] iamsannyrai commented on #47
Thanks for the reply. The case where didUpdateWidget would work is when we have children still in the widget tree. But don't you think that when (assumption) your browser resizes from Desktop mode to Mobile mode, the children of ResponsiveRowColumn which are ResponsiveRowColumnItems get destroyed when condition is not met.
For example:
Consider you have two children currently in row in desktop mod

[2021-03-21 16:32] searchy2 commented on #47
Adding to my TODO to investigate.

[2021-03-24 02:47] iamsannyrai commented on #47
Ya sure. For now I will close this issue.

[2021-03-24 02:47] #47 closed

[2021-03-24 03:42] HasanMuslemani commented on #38
@searchy2 Any timeline for the fix?

[2021-03-24 03:43] searchy2 commented on #38
Not at the current time. This is an involved issue that needs quite a bit of thought to fix.

Do you have any suggestions?

[2021-03-24 03:47] HasanMuslemani commented on #38
@searchy2 Are you using MediaQuery.of(context).size.width to determine the width? If so, you could change that to MediaQuery.of(context).size.shortestSide which will ensure the width is never changing even if they switch to landscape.

[2021-03-24 04:25] searchy2 commented on #38
I am not. That's a good suggestion, thank you!

[2021-03-29 21:16] fdarsot commented on #38
Any timeline for a fix @searchy2 ?

[2021-03-29 21:20] JTPenn-EG opened #50 "Disable responsive wrapper for a page"
I have a web app, I have a page that I don't want it to apply the responsive wrapper frame (the red part in the pic).
Why would I want that ? for decoration purposes in which I need to reach the edge of the screen.
The red background is the background parameter in ResponsiveWrapper.builder
![image](https://user-images.githubusercontent.com/68794852/112901625-4be2d700-90e5-11eb-952a-2232c8d254cd.pn

[2021-04-04 21:15] bounty1342 commented on #50
Remove constraints/size on width. Use a container with an unbounded width for exemple.

[2021-04-04 21:20] bounty1342 commented on #48
When you go landscape, you certainly trigger ResponsiveBreakpoint.resize(1000, name: DESKTOP),

The proportions will change (space taken by the text), so you need to use those flexible and expand to protect your column and row from overflowing.
Or you could only use scale only and remove those resize breakpoint. (but on large device, it might look a bit/lot bulky)

[2021-04-12 08:13] postpasspost opened #51 "How to set the child if it comes from onGenerateRoute ?"
I do not have access to the child parameter from the builder because it comes from the `onGenerateRoute: onGenerateRoute`

I found this `BouncingScrollWrapper.builder(context, widget)`!
It works for mobiles, tablets and laptops!

[code]

I thought that UI looked too small on tablet simulator. Using scaleFactor allows to scale the UI for high resolution devices. I set it to 1.2 and everything seems

[2021-04-13 20:02] fdarsot commented on #38
? @searchy2

[2021-04-19 22:23] Ali1Ammar opened #52 "issues when using with native ads (mobile_google_ads)"
NOTE : i dont know if this  ResponsiveFramework probleam or mobile_google_ads
when i try to use native ads with ResponsiveFramework working i get (see how the whole ads cropping from left)

![image](https://user-images.githubusercontent.com/18378766/115309491-0b6efa00-a175-11eb-9ff0-52d412b049b3.png)

when i remove ResponsiveFramework it every things work fine

![image](https://user-images.githubu

[2021-04-20 19:40] Ali1Ammar commented on #52
i just discover that there another package (notification_troubleshoot) effect this issues after removing it the ad return work fine with ResponsiveFramework

sorry about this ,  i will close this now thanks

[2021-04-20 19:40] #52 closed

[2021-04-22 09:54] naveenbharadwaj19 opened #53 "The responsive framework is not scaling on a particular device"
[code]
`flutter mode : release`

autoscale should render the same UI on all the devices right ? but why oneplus 6 differs from other devices am i doing anything wrong ?

**Images :**

UI in **oneplus 6** :
![1+6 (2)](https://user-images.githubusercontent.com/63662884/115693137-46dc1500-a37d-11eb-982d-cee00b46de50.jpg)
![1+6 (3)](https://user-images.githubusercontent.com/63662884/115693140-480d4200

[2021-05-10 19:58] searchy2 commented on #38
Thank you for the experiments and additional information.
I think I have the info I need to create a solution.

I can probably release a new version this week if everyone in this thread is willing to help me test.

[2021-05-10 23:37] fdarsot commented on #38
@searchy2 sure! eagerly awaiting the release!

[2021-05-17 19:50] fdarsot commented on #38
@searchy2 any luck?

[2021-05-27 21:18] fdarsot commented on #38
@searchy2 ??

[2021-05-28 08:52] apalala-dev opened #54 "Alignment of ResponsiveWrapper not working"
Hello,

Alignment parameter doesn't seem to have any effect for me.
This is a sample to reproduce the problem:

[code]

I would expect the red box to be aligned at the bottom center (I also tried with other values with no luck) but it is always centered instead:

![image](https://user-images.githubusercontent.com/6177464/119957742-a643cb00-bfa2-11eb-94c3-f1d6fb324bb9.png)

[2021-06-03 18:10] marchellodev commented on #38
@searchy2 If you don't have the time to fix this, could you please tell us what is the proper way to do it, so that we can submit a PR?

[2021-06-03 20:05] fdarsot commented on #38
@searchy2 my team and i are getting close to launch and this is one of the few missing pieces. please update when you can.

[2021-06-04 00:09] searchy2 commented on #38
My apologies, the solution here is to add a landscape breakpoints param and switch based on the media query returned orientation value.

I don't have time today but I'll try this weekend.

[2021-06-07 04:58] searchy2 commented on #38
Good news, I've added support for landscape breakpoints with the v0.1.1 release!

Landscape mode support was as extensive as I imagined and really needed a good think through.
The crux of the issue is that Flutter has no REAL landscape mode detection. The `orientation` is virtually computed based on if width > height. This means that landscape mode makes no sense on desktop or web. By default, the

[2021-06-07 05:01] searchy2 commented on #54
Thank you for filing this issue. I don't know what the issue is off the top of my head and will take a look next week.

[2021-06-09 01:55] fdarsot commented on #38
i think the issue still exists? i entered the following

 landscapePlatforms: [
            TargetPlatform.android,
            TargetPlatform.iOS,
          ],
          landscapeBreakpoints: [
            ResponsiveBreakpoint.autoScaleDown(450,
                name: MOBILE, scaleFactor: 0.73),
            ResponsiveBreakpoint.autoScaleDown(800,
                name: TABLET, scaleFactor: 0.73),

[2021-06-09 02:01] HasanMuslemani commented on #38
@fdarsot I could be wrong here but wouldn't the width change when in landscape so I don't think it'd be the same breakpoint numbers as portrait.

[2021-06-09 02:10] fdarsot commented on #38
ohhh good point. i think you are correct @HasanMuslemani i was going based on the example in the repo. let me try new breakpoints

[2021-06-09 02:18] fdarsot commented on #38
tried with different breakpoints, it still isnt working

[2021-06-09 02:25] fdarsot commented on #38
is it working for anyone else?

[2021-06-09 04:07] prateekmedia commented on #38
What are your new breakpoints?

[2021-06-09 04:27] fdarsot commented on #38
@prateekmedia i checked what my screen width was when it was in landscape mode and adjusted it to that.

landscapePlatforms: [
TargetPlatform.android,
TargetPlatform.iOS,
],
landscapeBreakpoints: [
ResponsiveBreakpoint.autoScaleDown(640,
name: MOBILE, scaleFactor: 0.73)
],

[2021-06-09 05:13] searchy2 commented on #38
Hmmm.. I'll find out the issue with some tests.

For now, you need to test on a target device in order to have landscape apply.

Landscape mode isn't enabled by default on Web or Desktop.
You CAN enable it by adding windows, web, or macOS into the landscapePlatforms.

[2021-06-09 05:14] fdarsot commented on #38
@searchy2 im testing on a real device with targeted breakpoints

im only developing for Android and IOS btw

[2021-06-09 05:16] searchy2 commented on #38
Well, that's unfortunate.

I'll take a look tomorrow, the bulk of the work is done so it's probably a quick fix.

And can add some tests!

[2021-06-09 05:22] fdarsot commented on #38
Thank you for all your work btw! i think we're close. this is one of the few last things needed before we launch and it would be great to have.

[2021-06-10 15:10] marchellodev commented on #38
I believe the problem is that flutter does not trigger `MaterialApp.builder` when orientation changes

[2021-06-13 02:44] searchy2 commented on #38
@fdarsot @prateekmedia
v0.1.2 Released!
- Full support for `landscapeBreakpoints` - breakpoints in landscape mode. Create landscape overrides with `minWidthLandscape`, `maxWidthLandscape`, `defaultScaleLandscape`, etc.
- Use `ResponsiveTargetPlatform` to enable landscape support for platforms including web.

I've verified through tests that landscape mode now works correctly.
Please note that land

[2021-06-13 02:45] searchy2 commented on #38
In spite of the seemingly complex concepts here, landscape and portrait breakpoints switch seemlessly and it's a beauty to behold.

[2021-06-13 05:10] prateekmedia commented on #38
Ok looks great, although I will test it when I'm free. If anyone has any query then I will reopen it.

[2021-06-13 15:37] #5 closed

[2021-06-25 04:25] fdarsot opened #55 "Error being thrown with the new version of the package 0.1.2"
hi @searchy2

with the new version that supports landscape responsiveness, im getting an error thats being thrown by flutter itself.

i know its the plugin causing the error because when i comment out the code for responsive framework, the error goes away

the error is:
[code]

please check

[2021-06-25 04:27] searchy2 commented on #55
Thank you for reporting the error. The is unfortunate and was likely introduced because of the landscape rewrite.

The stacktrace is helpful. Do you know how to reproduce the error?

[2021-06-25 04:31] fdarsot commented on #55
i do not know the specifics, but i expect it has something to do with the lists for each of the breakpoints "breakpointsLandscape and breakpoints"

if it helps my configuration is below:
[code]

[2021-06-26 05:49] fdarsot commented on #55
@searchy2 any luck with a fix?

[2021-07-01 21:59] searchy2 commented on #55
I'll take a look this weekend!

[2021-07-06 17:19] rockerhieu opened #56 ""Bad state: No element" when the app is launch when the screen is off"
## Stacktrace
[code]

## Reproduce steps
- Turn the screen off
- Launch the app from the command line
- **crash**

In real life, this crash may also happen when launching the app asynchronously, i.e clicking on notification to launch app, but before the app is launched, turn off the screen.

[2021-07-06 17:53] searchy2 commented on #56
This is a serious issue. I'll take a look tonight!

[2021-07-07 05:07] searchy2 commented on #55
This error should have been caught by the tests. Unfortunately, the test being run didn't account for resetting the wrapper to test initialization.

The issue should now be fixed in v0.1.4

I apologize for the crashes.

[2021-07-07 05:07] searchy2 commented on #55
#56 issue is also resolved!

[2021-07-07 05:19] fdarsot commented on #55
Thank you!!

[2021-07-07 15:03] Janng97 opened #57 "Different Sizes in Debug Mode and Release Mode for Flutter Web"
The size of the application was perfectly fine when running in debug mode. However in release mode, it is showing in wrong size (enlarged).

[2021-07-12 18:07] rockerhieu commented on #56
Fixed on `responsive_framework: ^0.1.4`

[2021-07-12 18:07] #56 closed

[2021-07-12 22:24] searchy2 commented on #55
Please reopen if you find the issue is still occuring.

[2021-07-12 22:24] #55 closed

[2021-07-14 07:22] alvindrakes opened #58 "Difference between this package and flutter_screenutil?"
Hi codelesssly, I just stumbled upon your package and I am wondering what's the difference between this package and https://pub.dev/packages/flutter_screenutil

Are there any fundamental differences in the way these 2 packages calculate the scaling?

Any explanations are appreciated.
Thank you.

[2021-07-14 08:10] #57 closed

[2021-07-15 00:31] searchy2 commented on #58
Hi Alvin, the packages share fundamentally different philosophies.

The entire purpose of the ResponsiveFramework is to eliminate the need for widget level responsive development as much as possible. What that means is that you define your breakpoints in the ResponsiveFramework at the top level and then control the behavior from those breakpoints.

This approach works very well for building websit

[2021-07-15 03:30] alvindrakes commented on #58
Thanks for the quick reply!

I've checked the example website and have 1 more question as I'm not a ui designer.

Do we always **scale** for website and **resize** for mobile? Is the setup in the example app the standard?

What happened if I use **Scale** on mobile and not **resize**?

Basically I'm trying to get the right ui responsive behaviour for mobile and web.

[2021-07-24 00:29] p1erre opened #59 "Text is not responsive on a simple stack"
On the following simple section widget, I can't get the text to be responsive. It neither resize nor rescale.

I am using **responsive_framework: ^0.1.4** on **Flutter 2.2.3**

[code]

[2021-07-24 04:20] andrespd99 opened #60 "OS specific Alert Dialogs shrinking."
I have noticed that the Responsive Framework is shrinking the Cupertino Alert Dialog more than usual, making the UI feel off from iOS standards. Is there any workaround?

[2021-07-25 18:09] andrespd99 commented on #60
Ok, so to give a clear example of what I'm talking about, here are two screenshots. The first is using te responsive_framework package. The second is how it SHOULD look.

This might be a minimal issue but it is a real dealbreaker for me because it breaks the "iOS standard style" to give it a name.

Is there any way I can stop this from happening?

![image](https://user-images.githubusercontent.com

[2021-07-27 05:48] bhanuka96 opened #61 "Why automatically change scroll behavior to BouncingScrollPhysics?"
I used default scroll behavior before adding this plugin. Now it's changed to `BouncingScrollPhysics` automatically in the whole project after adding this plugin.

How to fix this?

[2021-07-27 12:00] MenaRaafat opened #62 "Doesn't work in conjunction with device_preview library"
Using Responsive Framework alongside device_preview library produces a distorted UI.

Device_preview library:
https://pub.dev/packages/device_preview

[code]

[2021-07-27 18:07] bhanuka96 commented on #61
remove ` BouncingScrollWrapper.builder(context, child)` and just add `child`

[2021-07-27 18:07] #61 closed

[2021-07-28 02:41] searchy2 commented on #59
Thank you for reporting.

[2021-07-28 02:42] searchy2 commented on #60
Hmmm, this is on the v0.2.0 release roadmap.

Any ideas how to fix the issue?

[2021-07-28 02:42] searchy2 commented on #62
Uh oh, that's not good.
This library was fully compatible with Device Preview.

Can you share a screenshot of the distortion?

[2021-07-28 02:43] searchy2 commented on #53
Good question! I have the OnePlus 6 device so lucky us.
Can you share a complete reproduceable code sample?

[2021-07-28 11:23] kishangohel opened #63 "Not Working [responsive_framework: ^0.1.4]"
[√] Flutter (Channel stable, 2.2.3, on Microsoft Windows [Version 10.0.19043.1110], locale en-IN)
    • Flutter version 2.2.3 at D:\FlutterSDK\flutter
    • Framework revision f4abaa0735 (4 weeks ago), 2021-07-01 12:46:11 -0700
    • Engine revision 241c87ad80
    • Dart version 2.13.4

Just Create Default sample flutter project add responsive framework and run.

`import 'package:animations/animat

[2021-07-30 10:10] #63 closed

[2021-07-30 10:12] kishangohel commented on #63
fix issue by changing import file
import 'package:responsive_framework/responsive_framework.dart';
to
import 'package:responsive_framework/responsive_wrapper.dart';

[2021-07-30 12:25] kleinpetr commented on #13
Hi I like the concept of scaling but I can't understand the scaling mechanism so lets try this one
[code]

the scaleFactor is calculated from the 260 version or 450 version?
Because it looks like the scale fits always the bottom version but the first breakpoint is 260 so it probably means that 0-260 is resize (by default) BUT the website with 259px width looks different then 260 so I am little bit

[2021-07-30 14:59] searchy2 commented on #13
Good question! You've got the basic understanding down but there's a bit of special behavior with how the 0 - X breakpoint works.

It doesn't makes sense to have a breakpoint scale from 0 so the first breakpoint actually inherits down.
To get the 0-260 to autoscale, the parameter you're missing is `defaultScale = true`.

For a bird's eye view of the behavior at each breakpoint segment, set `debugL

[2021-08-01 09:54] MenaRaafat commented on #62
@searchy2
Commenting Device_preview library:
![Screenshot_1627811501](https://user-images.githubusercontent.com/42410083/127766747-0d69b441-dba9-4d6e-a672-079e6a3cdaba.png)

Uncommenting Device_preview library:
![Screenshot_1627811405](https://user-images.githubusercontent.com/42410083/127766771-f642a318-9e04-4533-b2ff-e4e45fa4d769.png)

[2021-08-05 15:27] Husssam12 commented on #62
I have the same issue, I solved it by passing mediaQueryData to ResponsiveWrapper.builder

`  Widget build(BuildContext context) {
    return ResponsiveWrapper.builder(
      child,
      maxWidth: 1200,
      minWidth: 500,
      mediaQueryData: MediaQuery.of(context),
      defaultScale: true,
      breakpoints: [
        const ResponsiveBreakpoint.resize(450, name: MOBILE),
        const Respon

[2021-08-06 04:47] sha-flutterdev opened #64 "Null check operator used on a null value"
════════ Exception caught by widgets library ═══════════════════════════════════════════════════════
The following _CastError was thrown building Builder(dirty):
Null check operator used on a null value

The relevant error-causing widget was:
  MaterialApp file:///E:/AS%20PROJECTS/FLUTTER_APPS/flutter_application_day3/flutter_app_demo_responsive/lib/main.dart:61:12
When the exception was thrown, t

[2021-08-11 07:55] shahbazqa opened #65 "Widget not able to be changed once breakpoint is set"
Hi,
First would like to say, thank you so much for this Responsive Framework. It has helped tremendously to make my app look scaled and beautiful. Second i am having trouble, all my UI is looking good when i do the
  ResponsiveBreakpoint.resize(300, name: MOBILE, scaleFactor: 0.8),

However, my image keeps riding up and will not go down no matter what height or width i place within the code:
  //

[2021-09-07 23:18] mattjslaton opened #66 "size issues with flutter_native_splash plugin"
Plugin works great, one thing that I am kinda stumped on is the fact that it resizes the splash screen and then jumps to a bigger size that fits the screen correctly, is there a way to adjust this so it does not change the splash screen but everything else afterwards gets resized as it normally does with this plugin? Thanks

[2021-09-08 00:26] searchy2 commented on #66
Is the resize happening on Web?
If so, that's a known Flutter issue.

[2021-09-08 00:27] searchy2 commented on #65
Would adding an ability to customize sizing per page be enough to resolve your issue?

[2021-09-09 13:01] bashor4life opened #67 "Doesn't work with overlay packages"
Hi,

this package works really great, thank you for that!

One thing that bothers me is that I cannot use it with overlay packages like "onboarding_overlay", "tutorial" and "overlay_tutorial" because the position of the highlighted area is always wrong. It could be the same issue as in #17.

You can run the onboarding_overlay example with the standard ResponsiveWrapper.builder and the position is

[2021-09-13 18:00] flutter-painter opened #68 "Understanding ResponsiveRowColumnType"
Hi Ray,
Thanks for sharing this great package,
I run a few tests but fail to see how to use ResponsiveRowColumnType,
Could you please enlighten me ?

[2021-09-16 03:41] mattjslaton commented on #66
Yes, that is correct. I guess for now I will remove the splash. Thanks!

[2021-09-16 04:32] shahbazqa commented on #65
I think that should be good, would you be able to do that?
Also can we have a video call please really need help with this framework...

[2021-10-01 13:39] brenodt opened #69 "[proposal] Expose ready() completer on ResponsiveWrapper.builder"
### User story
I have in my application a custom splash screen that makes use of a background image, which is rendered on the [native side](https://flutter.dev/docs/development/ui/advanced/splash-screen) and then transitions into rendering on the Flutter side.

Prior to using `responsive_framework`, the transition was seamless, as I pre-cached the image on Flutter and had it rendered on the first

[2021-10-01 15:03] rubenvereecken opened #70 "Possible to scale up while past maxSize?"
Our use case is an app that runs in the browser. We don't want to make anything responsive yet, it should just be roughly the size of a phone on your desktop. We've got the following working brilliantly:

[code]

What we'd like on top of this is the following. When the screen is bigger than `maxWidth`, all fonts should scale up. The reason behind this is that people are further away from bigger sc

[2021-10-01 15:22] rubenvereecken commented on #70
I've managed a constant scale-up using the `scaleFactor` argument for breakpoints. This at least precludes the need for a second theme.

I'd still be curious for an answer to the original question because I think this is a really neat package.

[2021-10-03 18:07] searchy2 commented on #70
Good question! Is there a property to control maxWidth scale? If so, could that be used to control the scale above maxWidth?

[2021-10-07 00:29] searchy2 commented on #69
This is a great idea!
There is a 1 frame delay in obtaining the layout size hence the interrupt in transition. Your proposal would be a good solution.

[2021-10-14 21:14] supras opened #72 "floatingActionButtonLocation in android 12"
![image](https://user-images.githubusercontent.com/6695964/137396424-c661f465-8bfc-45e4-9859-85b9b6479c6e.png)

[2021-10-29 18:22] DCKaLpEsH opened #73 "Contribution for Documentation"
@searchy2  I replied to you regarding the documentation on resocoder's youtube tutorial. Just to remind you regarding that. Will be waiting for your reply.

[2021-10-29 19:01] searchy2 commented on #73
Thank you, I'll add it today!

[2021-10-29 19:03] DCKaLpEsH commented on #73
Check your Twitter DM's, I've messaged you there too. We can discuss about more things there in.

[2021-11-09 19:32] KochankovID opened #74 "WillPopScope disabled"
[code]

And HomePage() has WillPopScope as root children, but it doesn't work

[2021-11-09 19:46] KochankovID commented on #74
Okey, I solve it by changing builder to home:

[code]

WillPopScope was disabled cause [builder](https://api.flutter.dev/flutter/material/MaterialApp/builder.html) property in MaterialApp is used to "inserting widgets above the Navigator".

I suppose you probably need to change the documentation :)

And also thank you for the awesome lib!! I love it :heart_on_fire:

[2021-11-09 20:54] #73 closed

[2021-11-17 10:43] Wizzel1 opened #75 "Overlays have offset from scaled parent box"
Hi, I have created a Dropdown menu by adding an overlay to a button. When the button gets pressed, the overlay is shown.

This overlay content depends on the parent buttons position to align correctly to the parent but when I enable screen scaling, this alignment has an offset. How do  I get rid of this offset?
<img width="299" alt="Bildschirmfoto 2021-11-17 um 11 42 13" src="https://user-images.g

[2021-11-20 18:23] jlnrrg commented on #33
@searchy2
He might have been talking about the prevention on specific platforms.
Rn one can setup my `ResponsiveBreakpoints` how I want, and they translate marvalous onto every plattform.
This unfortunately is active on all plattforms. It would be great to have in all the `ResponsiveBreakpoint`s a list for `preventOnPlatforms` of type `List<ResponsiveTargetPlatform>`, so I can disable specific bre

[2021-11-20 18:33] jlnrrg commented on #33
Also I noticed that the `ResponsiveWrapper` sometimes does not scale on the right breakpoint, if I scale just the width for example.

For a quick and dirty fix, you could expose the `key` and then one could pass a `ValueKey<double>(constraints.maxWidth)` even though it was outlined [here](https://github.com/letsar/flutter_staggered_grid_view/issues/167#issuecomment-961937316), why that is performa

[2021-11-21 05:21] searchy2 commented on #33
@jlnrrg I 100% agree with your suggestions.
There's a v0.3.0 planned for those features.

What do you think about the idea of removing breakpoints and instead have breakpoint segments that allow you to control the behavior instead?
For example, instead of setting a breakpoint at 480, you would instead specify the behavior from 480 - 779.
I'm considering making this change because it would allow th

[2021-11-21 12:18] jlnrrg opened #76 "Version 0.3.0 Design Considerations"
As noted in #33 there are a few things that would be great to be considered for a version 0.3.0.

This issue should function to spark a discussion between @searchy2 and the community, which things could be improved.

[2021-11-21 12:27] jlnrrg commented on #76
As there are way more intelligent people than me, I'd like to invite them to voice their ideas, too.
Especially named here are: @rydmike (creator of [Flexfold](https://rydmike.com/flexfold)), @ResoCoder (created the [video tutorial](https://www.youtube.com/watch?v=bXwK1Lrfihw))

(Feel free to tag other people, which you like to voice their opinion, too.)

[2021-11-21 12:36] jlnrrg commented on #76
First Design Proposal for `ResponsiveWrapper.builder`:

Create `value unions` for specific width ranges (as in [#33](https://github.com/Codelessly/ResponsiveFramework/issues/33#issuecomment-974758063))
The Constructor then accept these as `breakpoints` (without defined behavior), and in a second step a `defaultBehavior` can be defined. optional would be `ResponsiveTargetPlatform` specific behavior

[2021-11-21 18:12] searchy2 commented on #76
Context for the original conversation: #33

[2021-11-21 18:16] searchy2 commented on #76
The syntax for breakpoints would change to something like this:

[2021-11-21 19:06] jlnrrg commented on #76
I would argue for something like this:
[code]

(for simplicity I did not include `landscape` features

[2021-11-23 23:03] dalton5 opened #77 "Getx: Responsive is not applied"
Hi I use getx and I tried a lot of solutions but I do not see any scaling changes.

I tried with an iPad, iPhone. Nothing changes.

What's wrong?

 My code:

       `runApp(Wiredash(
        projectId: 'xxxx',
        secret: 'xxxxxxx',
        navigatorKey: navigatorKey,
        child: hideKeyboardWhileTapOnScreen(GetMaterialApp(
            title: L.localize(''),
            debugShowCheckedMode

[2021-11-28 23:31] Wizzel1 commented on #75
Seems like others have this problem too, so I am closing this

[2021-11-28 23:31] #75 closed

[2021-12-01 22:14] jeremiahlukus opened #78 "Add breakpoints breaks all unit tests"
I have a simple test

[code]
this prints
[code]
All i have done was add the breakpoints in my app.dart

[code]

Removing them makes my tests pass again. Why is my CounterPage not rendering when adding the breakpoints?

[2021-12-01 22:17] jeremiahlukus commented on #78
Hm adding `await tester.pumpAndSettle();`  Fixed all the tests

so
[code]

[2021-12-01 22:17] #78 closed

[2021-12-02 17:15] jeremiahlukus opened #79 "No breakpoint named `MOBILE` found."
I am copying from
https://github.com/Codelessly/FlutterWebsite/blob/master/lib/main.dart#L44

When i wrap BlockWrapper with ResponsiveWrapper it throws the error `No breakpoint named `MOBILE` found.`

If i remove `ResponsiveWrapper` then the page renders

So my widget looks like

[code]

and in my app.dart

[code]

[2021-12-02 17:26] jeremiahlukus commented on #79
[code]

prints
"error": "Updated layout information required for RenderPositionedBox#79fec NEEDS-LAYOUT NEEDS-PAINT to calculate semantics

[2021-12-03 12:31] jlnrrg opened #80 "Scaling missaligns Overlay"
As found out [here](https://github.com/talamaska/onboarding_overlay/issues/24), using a scaleFactor other than 1 leads to a missaligned Overlay.

This would in turn affect every package using such Overlay, and even custom `showMenu` methods.

scaleFactor 1.2            |  scaleFactor 1
:-------------------------:|:-------------------------:
![Screenshot from 2021-12-03 13-22-48](https://user-image

[2022-01-03 21:27] kthecoder opened #81 "Any way to remove space next to AppBar Title when leading is hidden?"
If you add the ResponsiveVisibility to an AppBar's 'leading' when you hide it, it takes up space with the "SizedBox.shrink". Since it won't be removed unless null.

[code]

But you can't assign null to a widget to disable it:

[code]

So is there any way to remove the space next to the title when leading is hidden?

[2022-01-17 04:21] markbulingit commented on #77
Make sure you are using the widget param, not child param e.g

[code]

[2022-01-27 21:09] tk2232 commented on #50
I have the same question. Is it possible to remove the wrapper for a specifig widget?
When I use flutter_map https://pub.dev/packages/flutter_map the touch event gives the wrong position

[2022-02-12 21:43] #77 closed

[2022-02-17 06:12] bonsoirelliot opened #84 "Scroll to textField doesn't work when using ResponsiveFramework"
Hello.  I use Scaffold's `resizeToAvoidBottomInset` to scroll to textField when click on it. I wrapped the content inside MaterialApp in the way it was said in the tutorial. And scroll to textFields stopped to work. Thank you

[2022-02-17 06:54] searchy2 commented on #84
Thanks for reporting. Can you please share a code sample?

[2022-02-17 09:12] bonsoirelliot commented on #84
Sorry, There was MediaQuery above main screen. The problem was caused by it

[2022-02-17 09:12] #84 closed

[2022-02-17 09:33] dipen-apptrait opened #85 "Using a responsive framework, the screen constantly flickers while we start typing in the text field on the iPhone 7 or 8 devices."

[2022-02-20 13:26] jhuckabee commented on #80
This looks like a duplicate of #67 and #75

[2022-02-22 14:00] mohammedX6 commented on #50
@tk2232 thanks for your approach, can you share your defined breakpoints?

[2022-02-22 14:35] tk2232 commented on #50
@mohammedX6 of course.

[code]

[2022-03-02 14:47] thomas725 opened #86 "scrollbar location on wide screens"
Hey there!

I've had a look at your minimal website demo @ https://gallery.codelessly.com/flutterwebsites/minimal/?utm_medium=link&utm_campaign=demo

It looks very nice, though I think it's unintuitive that on wide screens where the content doesn't use the whole width of the browser window the scrollbar stays within the borders of the reduced width content. it should be at the right end of the bro

[2022-03-08 19:58] #79 closed

[2022-03-08 20:08] jeremiahlukus opened #87 "Max items in column before breaking to new row"
I want to be able to pass in maxItems in column then auto break to new row after the maxItems number is reached

[code]

 buildDataTile returns a `List<ResponsiveRowColumnItem>` 's. How can I add a maxItems to the column?

[2022-03-12 08:08] youxinLu opened #88 "Change the phone dpi, the UI display is not normal"
Hello, I found a problem, changing the dpi page of the phone may not display properly, below I will provide screenshots with a resolution of 2356*1080 dpi 360 and dpi 480 and my code。

**main.dart**
`List<ResponsiveTargetPlatform> _landscapePlatforms = [
    ResponsiveTargetPlatform.iOS,
    ResponsiveTargetPlatform.android,
    ResponsiveTargetPlatform.fuchsia,
  ];

 return ResponsiveWrapper.bui

[2022-03-15 14:25] infobkm commented on #17
no updates for this issue for over a year? I really like this plugin but I can't use it because my app is based on a form with a sortable list..

[2022-03-17 06:35] pmg1991 opened #89 "Marker are not at correct position when responsive_framework is used with flutter_map"
I have the same issue.

[code]

here is an image with tap position and marker on wrong place.
Fresh card not rotated or zoomed

![image](https://user-images.githubusercontent.com/33070559/151420965-9fa2a9a4-f46f-43e5-926c-89219a3deb10.png)

_Originally posted by @tk2232 in https://github.com/fleaflet/flutter_map/issues/1091#issuecomment-1023520245_

[2022-03-17 08:56] tk2232 commented on #89
@pmg1991 I solved the problem as follows https://github.com/Codelessly/ResponsiveFramework/issues/50#issuecomment-1023641178

[2022-03-17 10:19] pmg1991 commented on #89
@tk2232
After your suggested changes nonrotated child are getting out of screen.
![iPhone-8-Plus-7-Plus-6S-Plus-414x736](https://user-images.githubusercontent.com/34839986/158788236-5fba1e50-ee9f-4334-84d6-78e40135c2ed.png)

[2022-03-26 12:15] CaptainDario opened #90 "Breaks integration tests when used with windows UI scaling"
I am using this package to handle ui scaling in windows. Because otherwise flutters rescaling breaks my layout.
However when I now write my integration tests the size which is returned by `tester.getSize()` is dependent on the value of the display scaling.

The problem is, I want to click on a widget 25% of its width from the left. When I now do

[code]

The position where the click happens is not

[2022-04-04 09:35] marchellodev commented on #38
@elvosparsley You need to specify different breakpoints for both `breakpoints` and `breakpointsLandscape`.

Here's how I am doing it in my app: https://github.com/marchellodev/sharik/blob/master/lib/main.dart#L63

[2022-04-04 09:37] prateekmedia commented on #38
Closing again as issue is answered.

[2022-04-04 09:37] #38 closed

[2022-04-04 09:55] elvosparsley commented on #38
Many thanks for the example, I was missing the scaleFactor in the breakpoints, works great now!

[2022-04-06 08:01] devDonald commented on #87
Please this wasn't answered. I am trying to arrange 2 items per row on mobile and 4 per row on tablet. But the default is 1 per item per row in mobile and it forces everything to fit into a row on tablet no matter the number of items

[2022-04-06 08:16] devDonald commented on #87
@jeremiahlukus How did you solve this please

[2022-04-06 14:15] searchy2 commented on #87
I can add the ability to set max items as a new feature.

[2022-04-06 14:28] devDonald commented on #87
Please do.

[2022-04-06 16:01] jeremiahlukus commented on #87
@devDonald I did not solve it i just worked around it. Would be great to have this feature though @searchy2

[2022-04-07 11:04] talamaska commented on #80
FYI the reposition and wrong size is fixed in the onboarding_overlay with [3.1.0-pre.2](https://pub.dev/packages/onboarding_overlay/versions/3.1.0-pre.2)

[2022-04-12 14:24] Eerey commented on #17
Same issue, I need support for draggable actions.

[2022-04-13 12:46] Eerey opened #91 "Command "Inspect Widget" resets state when using ResponsiveWrapper"
Whenever I enable/disable "Inspect Widget" the entire app state is reset.
Here is how I use ResponsiveWrapper (see below).
I appreciate any help :)

[code]

[2022-04-13 13:09] Eerey opened #92 "Suggestion for minor code improvement"
Row 671 @`responsive_wrapper.dart`
[code]
Just a small suggestion:
->> `setPlatform();` could be moved to `initState`, because the context is retrievable there and it keeps the build method more clean.

[2022-04-15 12:32] Eerey opened #93 "Feature Request: Specific Aspect Ratio as "target""
Hello there,
currently I use the plugin for my desktop app. It works very good, thanks for your efforts!
However, when it came down to a "target" aspect-ratio, I could not find any better Option than this (see code below).

Is there any hope for a "target aspect-ratio" for breakpoints that automatically scales with the `scaleFactor`?
In my example, "4/3" is my target aspect ratio" and depending on

[2022-04-22 09:35] malikdoksoz opened #94 "isMobile always false, name is null"
Device: iPhone 7 Plus
Flutter: 2.10.5

[code]

      I called "ResponsiveWrapper.of(context).activeBreakpoint"
returned
![Ekran Resmi 2022-04-22 12 36 04](https://user-images.githubusercontent.com/26676061/164679669-b1d60e60-85c9-4aa3-8583-043eaf6a6b34.png)
"

[2022-05-10 09:25] duongkibo opened #97 "Not Detect Devide ZFold in and ZFold out"
Not Detect Devide ZFold in and ZFold out

[2022-05-12 16:45] MezoPeeta opened #98 "Material You Warning"
When I updated to flutter 3 , and started to use material you in my app , I got that warning from the framework so please update it as fast as possible , It's very important to me
`/C:/src/flutter/.pub-cache/hosted/pub.dartlang.org/responsive_framework-0.1.7/lib/responsive_wrapper.dart:623:20: Warning: Operand of null-aware operation '!' has type 'WidgetsBinding' which excludes null.
`

[2022-05-13 06:00] Prayer-RecycleSmart commented on #98
Done it but seems to have same issues

[code]

[2022-05-13 07:55] haamaanaa opened #99 "0.1.8 # Flutter 3 support."
Should not release possible API breaking changes in patch version upgrades

automatic dependency updates that flutter offers take this update and causes apps to not build anymore

like:
responsive_framework: ^0.1.4 => uses 0.1.8 && breaks

[2022-05-13 10:14] iPatel007 commented on #98
I upgraded Flutter 3.0 and thought that issue because of latest Flutter version, So I downgraded Flutter version 2.10.5 but same issue facing! 😞

[2022-05-13 10:57] flutterninja9 commented on #98
I took the decision to not to migrate to Flutter 3, and removed caret(^) from pubspec.yaml,
change to: flutter_segment: 3.7.0

Hopefully will be migrating soon😅

[2022-05-13 11:16] limitless-brain commented on #99
As a fix, you can use what flutter [suggest](https://docs.flutter.dev/development/tools/sdk/release-notes/release-notes-3.0.0#your-code) to support the older versions of flutter.

[2022-05-13 16:04] searchy2 commented on #98
The warning does not prevent your app from compiling.
Look at the very bottom of the unable to build stack trace for the real incompatibility.

If you are using v0.1.8 of ResponsiveFramework, you should not see this warning.

[2022-05-14 02:09] flutterninja9 commented on #98
@searchy2 True, In my case it was 'getX'🥲

[2022-05-16 04:56] Parul-kapoor commented on #98
Facing same issue with 0.1.8 as well.

Error: Method 'addObserver' cannot be called on 'WidgetsBinding?' because it is potentially null.

[2022-05-16 05:55] searchy2 commented on #98
Can you screenshot the error?

[2022-05-16 08:32] orliu opened #100 "Null safety error"
dependencie version:
responsive_framework: ^0.1.8

../../../Library/Android/flutter/.pub-cache/hosted/pub.flutter-io.cn/responsive_framework-0.1.8/lib/responsive_wrapper.dart:622:29: Error: Method 'addObserver' cannot be called on 'WidgetsBinding?' because it is potentially null.
 - 'WidgetsBinding' is from 'package:flutter/src/widgets/binding.dart' ('../../../Library/Android/flutter/packages/flut

[2022-05-16 08:57] orliu commented on #100
I download the 0.1.8 source code, that is WidgetsBinding.instance!...., seems ok!  but when i exec flutter pub get, in the pub cache file .pub-cache/hosted/pub.flutter-io.cn/responsive_framework-0.1.8/lib/responsive_wrapper.dart:645:29,  ,  WidgetsBinding.instance.., seems error, i don't know what happend.

[2022-05-16 10:50] rlaheri99 commented on #100
**Same Issue with**
Flutter version 2.10.4
Dart version 2.16.2

responsive_framework: ^0.1.5

[2022-05-16 12:11] rajeshkumaradam666 opened #101 "Null safety error"
Error: Method 'removeObserver' cannot be called on 'WidgetsBinding?' because it is potentially null.

[2022-05-16 12:12] rajeshkumaradam666 opened #102 "Null error"
/G:/flutter2.10.5/.pub-cache/hosted/pub.dartlang.org/responsive_framework-0.1.8/lib/responsive_wrapper.dart:622:29: Error: Method 'addObserver' cannot be called on 'WidgetsBinding?' because it is potentially null.
 - 'WidgetsBinding' is from 'package:flutter/src/widgets/binding.dart' ('/G:/flutter2.10.5/packages/flutter/lib/src/widgets/binding.dart').
Try calling using ?. instead.
    WidgetsBindi

[2022-05-17 13:37] sleewok commented on #102
I updated to flutter 3 and this issues went away for me.

[2022-05-17 13:37] sleewok commented on #100
Try updating to flutter 3

[2022-05-17 14:26] sleewok opened #103 "How to use with Listview.builder?"
It is pretty straightforward to use ResponsiveRowColumn on standard widgets.

However, I am struggling to figure out how to get the responsive_framework to work with the Listview.builder to get responsive rows/columns. Any help would be greatly appreciated!

[2022-05-18 01:27] orliu commented on #100
Thanks sellwok!

[2022-05-18 01:27] #100 closed

[2022-05-18 10:19] iPatel007 commented on #98
@searchy2 Sure pls look this screenshot.
![Screenshot 2022-05-18 at 3 48 30 PM](https://user-images.githubusercontent.com/3183449/169016879-41876735-c940-4301-b088-8473cc951656.png)

[2022-05-18 18:09] sleewok commented on #103
For anyone looking at this. Use the ResponsiveGridView.builder.

[2022-05-18 18:09] #103 closed

[2022-05-18 20:26] searchy2 commented on #99
You're right, I made a mistake here. Flutter's upgrade docs did not mention this breaking change.

I've released a v0.1.9 as a compatibility release for Flutter v2.
For Flutter v3, please use v0.2.0.

We live and learn!

[2022-05-18 20:26] #99 closed

[2022-05-18 20:27] searchy2 commented on #101
I've released a v0.1.9 as a compatibility release for Flutter v2.
Once you migrate to Flutter v3, please use v0.2.0.

[2022-05-18 20:27] #101 closed

[2022-05-18 20:27] searchy2 commented on #102
I've released a v0.1.9 as a compatibility release for Flutter v2.
Once you migrate to Flutter v3, please use v0.2.0.

[2022-05-18 20:27] #102 closed

[2022-05-18 20:29] searchy2 commented on #94
You might have caught an edge case here.

Looks like if a breakpoint is set to minWidth, then the minWidth overrides the breakpoint name?

[2022-05-18 20:33] malikdoksoz commented on #94
I have no idea. How can i solve this problem and should how should I set it up?

[2022-05-19 04:17] searchy2 commented on #103
Great! Hope it works for you.

Otherwise, share your ideas for what you need.

[2022-05-19 06:50] haamaanaa commented on #99
Thanks for the quick change / fix, Much appreciated!

Unfortunately after I checked how Flutter handles this dependency conflict resolution, that 0.2.0 still breaks app that use ^ notation :(

https://docs.flutter.dev/development/packages-and-plugins/using-package
<img width="735" alt="Screenshot 2022-05-19 at 9 47 30" src="https://user-images.githubusercontent.com/19222773/169228362-ac06e8ca-75b6

[2022-05-19 15:45] searchy2 commented on #99
Ah, good to know!

Flutter v2 users will need to hardcode 0.1.9 then.

[2022-05-19 16:59] searchy2 commented on #99
Actually, because I've set the constraint to Flutter 3 for v0.2.0, version solving should automatically default to the right version.
So someone using ^0.1.8 will get the correct version on Flutter 2 and 3.

[2022-05-21 22:59] gozluc84 commented on #17
0.2.0 version released but issue still present.. :( no workaround?

[2022-05-25 11:42] irufano opened #104 "Get Render Object Position/Offset is not Match with UI"
## Step to reproduce:
- add global key in widget (in this case I use icon bell)
- call this in some function to get offset of the widget
[code]
 - showing custompaint based on current offset of the widget

## Actual Result:
the draw paint not match with the current UI/widget,
<img width="348" alt="Screen Shot 2022-05-25 at 18 40 42" src="https://user-images.githubusercontent.com/41888110/170253820

[2022-05-29 22:18] DavidDomkar commented on #93
I would also like to see this. I am evaluating what package I can use instead of ScreenUtil and this seemed promissing until I realised that it can only be bound to the width of the screen and not to the height which can be solved by this aspect ratio approach.

[2022-06-03 12:13] knbmedia opened #105 "maxWidth and page navigation animation (flutter web 2 & 3)"
Hi
In my Flutter Web application I set the max width of my app to 800 pixels.
[code]
But when pushing new page, the default slide transition start (or end when back) outside this limit:

![transition](https://user-images.githubusercontent.com/1955646/171850822-5617aa25-02e6-4a19-9f08-efea2bfb856a.gif)

To reproduce, juste create a default flutter project, use this package with maxWidth and navigat

[2022-06-13 17:23] remsysinc opened #106 "Code structuring with Provider and GetIt packages"
Love the idea of this package!  Coming from a Bootstrap environment on web to mobile, this concept is very appealing.

I'm using the Provider and GetIt packages and am having trouble configuring the main.dart code structure to integrate this package.  My code is as follows and I'd like to see an example of how you'd add your package.  I feel this inquiry could help a lot of people as Provider and

[2022-06-15 10:18] dipen-apptrait commented on #97
Hey Did you find any solution for this issue?

[2022-06-30 07:49] HOALND opened #108 "responsive_framework: ^latest_version"
responsive_framework: ^latest_version

[2022-06-30 07:51] HOALND commented on #108
ResponsiveWrapper.builder

[2022-06-30 07:51] HOALND commented on #108
import 'package:responsive_framework/responsive_framework

[2022-06-30 07:53] HOALND opened #109 "responsive_framework"
import 'package:responsive_framework/responsive_framework.dart';

class MyApp extends StatelessWidget {
  @override
  Widget build(BuildContext context) {
    return MaterialApp(
      builder: (context, child) => ResponsiveWrapper.builder(
          child,
          maxWidth: 1200,
          minWidth: 480,
          defaultScale: true,
          breakpoints: [
            ResponsiveBreakpoint.res

[2022-06-30 07:56] HOALND commented on #109
Done

[2022-07-04 23:49] searchy2 commented on #105
I recommend overriding the mobile swipe transition for Flutter Web.
Please see the example in the examples folder for overriding the navigator transition.

[2022-07-04 23:49] searchy2 commented on #105
Closing issue with the above solution. Feel free to reopen.

[2022-07-04 23:49] #105 closed

[2022-07-05 04:31] searchy2 commented on #80
Thank you @talamaska, closing issue as solved for now and moving conversation to this solution thread:
https://github.com/talamaska/onboarding_overlay/issues/33

[2022-07-05 04:31] #80 closed

[2022-07-18 04:18] #108 closed

[2022-07-18 04:18] #109 closed

[2022-07-18 04:19] searchy2 commented on #98
Fixed with correct compatibility versions.

[2022-07-18 04:19] #98 closed

[2022-07-19 05:42] gOzaru commented on #38
I think if you want to get the best result of landscape mode, use this website's information about the resolution of devices you are targeting with: [click this link](https://www.binvisions.com/articles/tablet-smartphone-resolutions-screen-size-list/)
You can see the list that the most wide device has resolution of 3120 pixel.
This is the complete list for all the tablet with landscape mode:
768,

[2022-07-30 07:16] gOzaru commented on #19
@michealchow2324
I think the minWidth is the default size of the device you used for testing purpose.
For example:
I have a smartphone 720 x 1440.
Before I used the Responsive package, I had to check the width calculated by `MediaQuery.of(context).size.width` at first. After I know the value, I used that to setup all of the layout design based on that width and height. And apparently, the value wa

[2022-07-30 10:55] gOzaru commented on #106
Dude, you should check on the [closed issue here](https://github.com/Codelessly/ResponsiveFramework/issues/44#issuecomment-789415784), before creating a new issue. It answered your question.

[2022-07-31 15:57] BenjiFarquhar opened #111 "Avoid snap back widget to default size upon hitting resize breakpoints"
When a resize breakpoint is reached, the size of the widgets snaps back to the default size. This means if the breakpoint were at 800, the widget would be smaller at 800 than at 799. This doesn't seem desirable. How do we keep the widget the same non-default (larger) size at a resize breakpoint as just before it hits the breakpoint?

[2022-08-05 10:35] abigotado commented on #91
I think the problem is not in the `responsive_framework` library, but in the `router`. I have the same problem in the app with `router`, but without `responsive_framework`.

[2022-08-08 07:24] gOzaru commented on #97
Yeah, I also have the same issue.
It had a very big scale, and the scaleFactor doesn't affect the scale at all.

![SS - Responsive Framework 04](https://user-images.githubusercontent.com/3258483/183362631-8dabaf81-d05f-4d93-a146-7c95fad1a8e1.jpg)

[2022-08-08 08:18] gOzaru opened #112 "Failure Testing on Android Emulator Fold-out"
I used this code:
[code]
It works on Android tablet emulator

![SS - Responsive Framework 01](https://user-images.githubusercontent.com/3258483/183371693-2006b2d7-19ad-47c0-8eaf-0d60c958020a.jpg)

But strangely, this doesn't work on Fold-out as seen on the attached image below!
I also had changed the scaleFactor value into 0.8, 1.4 and 2.4; but all attempts don't change the size at all.
It is alwa

[2022-08-12 09:15] duongkibo commented on #97
I think detect size of zfold device and  change size if device is zfold

[2022-09-14 13:02] ElKood-Sol commented on #89
The same here problem is with the buttons above the map not being clickable on release builds only on some phones like Redmi 8A.

https://github.com/Codelessly/ResponsiveFramework/issues/50#issuecomment-1023641178
This solution solves it partially.

Thanks

[2022-09-23 14:07] itsJoKr opened #115 "Using Flutter Inspector > Toggle select widget mode will restart the app"
I've noticed in my app with ResponsiveFramework that whenever I click on `Flutter Inspector > Toggle select widget mode` it will route me back to the first screen. There is no error of any kind. When I remove ResponsiveFramework everything works.

I can say that problem might be in wrappers in `MaterialApp build` because my other wrapper behaves

I also have a few wrappers in `MaterialApp builder`

[2022-09-27 12:15] MdeBruin93 opened #116 "[Question] What would be the best way to configure the theme?"
Hello,

I'm giving this framework a try, so far I think it's amazing, however, I'm missing the Theme property on the ResponsiveWrapper object.
Currently using the ResponsiveWrapper.builder constructor, but can't find any parameter for the ThemeData.

[2022-09-29 08:12] itsJoKr commented on #115
Noticed that the probable issue is FittedBox which is inserted into the tree. I ended up rebuilding my own solution.

[2022-10-04 15:00] jan-koz commented on #116
You should have ThemeData under MaterialApp widget, not ResponsiveWrapper.builder

[2022-10-06 08:04] ch-muhammad-adil commented on #50
This solution has worked nicely for me at small screens but at large screens it was another problem. The FlutterMap was looking smaller and created extra white space at all sides.

[2022-10-06 08:08] mohammedX6 commented on #50
I ended up using  the `ScreenUtil` package, Working perfectly for me.

[2022-10-06 08:08] mohammedX6 commented on #50
I ended up using the ScreenUtil package, Working perfectly for me.

[2022-10-06 08:09] ch-muhammad-adil commented on #50
I then came up with another great solution to get accurate position.

FlutterMap Controller has a method `pointToLatLng` I used that method to convert point where user tapped to latlng.

Here is my solution

Inside `onTap` method of `FlutterMap` `MapOptions` we get `LatLng` and `TapPosition`

I used TapPosition object

                 var rescalingFactor =
                                (Respons

[2022-10-06 08:12] ch-muhammad-adil commented on #50
ScreenUtils are not adaptive as such ResponsiveFramework is really amazing solution for multiple screens support.  Please checkout my solution it will solve wrong positioning problems of markers.

[2022-10-06 08:13] ch-muhammad-adil commented on #89
If you are using responsive_framework and getting wrong marker position with flutter_map

**Here is the solution to get accurate position.**

**FlutterMap** Controller has a method `pointToLatLng` I used that method to convert point where user tapped to latlng.

Here is my solution

Inside `onTap` method of `FlutterMap` `MapOptions` we get `LatLng` and `TapPosition`

I used TapPosition object

[2022-10-06 08:17] ch-muhammad-adil commented on #89
Instead of rescaling flutter map I have actually repositioned where user has actually tapped and this returns accurate LatLng.

PS: if you use resizing instead of autoScale in your ResposiveFramework Wrapper you won't see any problem with flutter_map tap. But if you are seeing a problem for particular screen width or configuration of ResponsiveFramework, you can just apply my solution.

[2022-10-13 02:28] moshOntong-IT opened #117 "How to integrate this responsive framework with go router package"
I am using a go router package to enhance my router to my flutter project. This is how I implement the responsive framework in go router
[code]

The problem will occur when I used a Responsive condition it said there:
"A responsive condition was caught referencing a nonexistent breakpoint. A ResponsiveCondition requires a parent ResponsiveWrapper or remove breakpoint references."

Excpected: The r

[2022-10-13 05:41] searchy2 commented on #117
This is interesting!
I'm not familiar with ShellRoute, is that the new nested navigation API the go_router team implemented?
I've been meaning to learn more, haven't got around yet.

[2022-10-18 11:04] NTMS2017 opened #118 "How to show drawer on mobile and tablet and not on desktop?"
Hi,

I got headache last 2 days for working responsive_framework. I download all the example that shows in pub.dev and couldn't make it to work correctly.

In flutter.dev examples the drawer is not working on web. iOS version didn't run. I still believe is better than others but I am having difficulty to grasp the drawer section.

Web version I need to show open drawer (or similar) menu but on mob

[2022-10-26 06:47] Ernest-Novvia commented on #117
@moshOntong-IT Did you find a solution? Was aboout integrating responsive framework with go_router in a new project.

[2022-10-26 07:21] pppshiwen commented on #115
same question

[2022-10-26 07:47] moshOntong-IT commented on #117
Yeah I did

This is how I solve the problem
`BlackboltWidget(
        title: 'One sound, One word',
        routerConfig: goRouter,
        builder: (context, child) => ResponsiveWrapper.builder(
          ClampingScrollWrapper.builder(context, child!),
          maxWidth: 1200,
          minWidth: 480,
          breakpoints: const [
            ResponsiveBreakpoint.resize(480, name: MOBILE),

[2022-10-26 07:47] #117 closed

[2022-10-26 07:58] Ernest-Novvia commented on #117
@moshOntong-IT What is BlackboltWidget?

[2022-10-26 08:53] moshOntong-IT commented on #117
Heheh dont worry Blackbolt Widget just a extend of Material Widget. It is my custom widget

[2022-11-04 10:29] usama-karim commented on #118
There are many properties available for `ResponsiveWrapper`. Use it to know when your specified breakpoint executed.
For Example,
`ResponsiveWrapper.of(context).isMobile; // returns true or false`

[2022-11-05 11:23] tjarvstrand commented on #24
@searchy2 @SpencerLindemuth Was the bottom inset issue ever solved in this package? I'm seeing the behavior in my app and I'm looking for a solution. If it's still an open issue, it would be great with an example of, or link to, the aforementioned workaround in `flutter_device_preview`. I had a look but it's quite a bit of code to wade through :)

[2022-11-05 18:23] searchy2 commented on #24
Hmmm, @SpencerLindemuth can you share how you solved the bottom keyboard insets?
I've learned a lot more about the keyboard insets recently and there might be some modifications needed in this library.

[2022-11-05 19:58] tjarvstrand commented on #24
I was actually just able to solve my issue by passing `mediaQuerydata: MediaQuery.of(context)` into `ResponsiveWrapper.builder`

[2022-11-05 22:28] searchy2 commented on #24
Great to hear, thanks for reporting!

[2022-11-05 22:28] #24 closed

[2022-11-05 22:36] tjarvstrand opened #119 "ResponsiveValue.value should non-nullable"
When you create a `ResponsiveValue`, you have to give it a default value, so why is `ResponsiveValue.value` nullable?

[2022-11-05 22:47] searchy2 commented on #119
Good question! The default value can be null to support passing nulls.
An API improvement would be eliminating the required initial value perhaps?

[2022-11-06 09:36] tjarvstrand commented on #119
An API improvement would be eliminating the required initial value perhaps?

IMHO it would be better to remove the mandatory nullability of `value`. If you really do want it to be nullable you can still have that by using eg. `ResponsiveValue<int?>` instead of `ResponsiveValue<int>` , then `value` will also be nullable

[2022-11-07 20:03] searchy2 commented on #119
Yes! This library actually predates null safety so <int?> wasn't an option.
That seems like a good implementation.

[2022-11-26 10:10] radvansky-tomas opened #120 "Add Conditions to ResponsiveRowColumnItem"
Hi, thank you for great package, one thing which is not really clear, is how to hide/show flex items in RowColumn.

I mean I can add child with ResponsiveVisibility but that will not change the fact that flex is still being applied.

So only option is to add conditionals on top of ResponsiveRowColumnItem.
But to be more consistent, that class should have conditions field like other Responsive widg

[2022-11-26 22:52] radvansky-tomas commented on #120
Resolved by wrapping responsive value in
[code]

[2022-11-26 22:52] #120 closed